// Import functions as variables depend on functions
@import "../../plugins/bootstrap/scss/functions";

// Import theme variables
@import "../../web/Starboy/variables";

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.community-channel{
  background-color: #f9f9f9;
  .community-image{
    @include aspect-ratio(3.41, 1);
    padding: 0;
    overflow: hidden;
    background-clip: padding-box;

    .cover-image{
      object-fit: cover;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .details{
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    .desc,.header{
      color: $white;
    }
    .desc{
      font-weight: $font-weight-normal;
    }
    .header{
      font-weight: $font-weight-600
    }
  }
  .community-wid-channel-desc{
    box-shadow: 0 3px 9px 1px rgba(0, 0, 0, 0.13);
  }
  .channel-description-web{
    .showMore{
      display: none;
    }
  }

}



