.btn{
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: .75rem 1.6rem;
  -webkit-transition: color .3s ease-in-out,background-color .3s ease-in-out,border-color .3s ease-in-out,box-shadow .3s ease-in-out !important;
  -moz-transition: color .3s ease-in-out,background-color .3s ease-in-out,border-color .3s ease-in-out,box-shadow .3s ease-in-out !important;
  transition: color .3s ease-in-out,background-color .3s ease-in-out,border-color .3s ease-in-out,box-shadow .3s ease-in-out !important;

  &:focus {
    outline: none;
    text-decoration: none;
    box-shadow: none;
  }

  &.btn-primary{
    border: 1.5px solid $wildWatermelon;
    color: $white;
    background-color: $wildWatermelon;
    &:hover{
      color: $wildWatermelon;
      border-color: $wildWatermelon;
      background-color: $white;
    }
    &:active{
      border-color: $wildWatermelon !important;
      border-color: $wildWatermelon !important;
      background-color: $wildWatermelon !important;
    }
  }
  &.btn-secondary{
    border: 1.5px solid $wildWatermelon;
    color: $wildWatermelon;
    background-color: $white;
    &:hover{
      color: $white;
      border-color: $wildWatermelon;
      background-color: $wildWatermelon;
    }
    &:active{
      color: $white;
      border-color: $blue-900;
      background-color: $blue-900;
    }
  }
}
