// Import functions as variables depend on functions
@import "../../plugins/bootstrap/scss/functions";

// Import theme variables
@import "../../web/Starboy/variables";

p{
  color: $eclipse;
  text-align: center;
  font-family: AvenirNext-Medium;
}

.header-line{
  height: 3px;
  background: linear-gradient(-45deg, $wildWatermelon 0%, $ticklePink 100%);
}

.btn-gradient{
  font-size: 18px;
  color: $white !important;
  border: none!important;
  background: linear-gradient(-45deg, $wildWatermelon 0%, $ticklePink 100%);
  :hover, :active, :focus{
    color: $white;
  }
}

#productKind:first-letter{
  text-transform: uppercase;
}

.animationBounceText{
  animation-name: bounceIn;
  animation-duration: 450ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes bounceIn{
  0%{
    opacity: 0;
    transform: scale(0.3) translate3d(0,0,0);
  }
  50%{
    opacity: 0.9;
    transform: scale(1.1);
  }
  80%{
    opacity: 1;
    transform: scale(0.975);
  }
  100%{
    opacity: 1;
    transform: scale(1) translate3d(0,0,0);
  }
}

.product-img,
.landscape-img{
  background-color: $gray-100;
}

.backArrow{
  top: 40px;
  left: 8px;
  width: 25px;
  height: 35px;
  position: absolute;
}

.backArrowSvg{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 10px;
  margin: auto;
  position: absolute;
}

.to-spend{
  color: $eclipse;
  font-size: 18px;
  font-family: AvenirNext-Medium;
}

.approved-video{
  font-size: 15px;
  font-weight: $font-weight-light;
  font-family: AvenirNext-Regular;
}
.input-group-text{
  background-color: $white;
  border: 2px solid #ccd3cd;
}

label{
  color: $valhalla;
  font-weight: $font-weight-600;
}

.form-control{
  border: 2px solid #ccd3cd;
  border-left: 2px solid #ccd3cd;
  margin-left: -2px;
  &:focus{
    box-shadow: none;
    border-color: #ced4da;
    border-left-color: $white;
  }
}

.success-message{
  &.gradient-line{
    padding: 1px;
    border-radius: 10px;
    background: linear-gradient(to right, $ticklePink, $wildWatermelon);
  }
  .gradient-line-inner{
    border-radius: 10px;
    background-color: $white;
  }
  .text-msg{
    font-size: 14px;
    color: rgba(42, 41, 59, 0.7);
  }
}

.error-message{
  color: $wildWatermelon;
}