<a href="<%= androidAppLink %>" title="Download Pepo App - Android" class="d-inline-block" rel="noopener noreferrer nofollow">
    <span class="google-play-icon"></span>
</a>
<a href="<%= iosAppLink %>" title="Download Pepo App - iOS" class="ml-lg-3 mt-4 mt-lg-0 d-inline-block" rel="noopener noreferrer nofollow">
    <span class="app-store-icon"></span>
</a>
