<section id="logged-out-instructions" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content" style="padding: 35px 0; border-radius: 5px">
            <div class="modal-header mb-3">
                <h4 class="modal-title" style="color: #ff5566;font-weight: 600">Host a live event on Pepo</h4>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="modal-close-icon"></span>
                </button>
            </div>
            <div class="modal-body px-5 text-center">
                <div>
                    If you are an existing Pepo community admin, please login to
                    start a live meeting.
                </div>
                <div class="pt-3">
                    If you would like to host live meetings on Pepo, please download the Pepo app and <a class="aTagOverWrite" href="https://www.notion.so/Pepo-Communities-FAQs-Specs-fbb3eecd631a4548b1d29de350557c99">apply to be a community admin</a>.
                </div >
                <div class="pt-3">
                    <a class="text-center aTagOverWrite" href="https://intercom.help/pepo/en/articles/3832441-pepo-live-events">Learn more </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="logged-in-instructions" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content" style="padding: 35px 0; border-radius: 5px">
            <div class="modal-header mb-3">
                <h4 class="modal-title" style="color: #ff5566;font-weight: 600">Host a live event on Pepo</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="modal-close-icon"></span>
                </button>
            </div>
            <div class="modal-body mx-6 text-center">
                <div>You must be a Pepo community admin in order to host a Pepo live event.</div>
                <div class="pt-3">If you would like to host meetings on Pepo, please
                    <a class="aTagOverWrite" href="https://www.notion.so/Pepo-Communities-FAQs-Specs-fbb3eecd631a4548b1d29de350557c99">apply to be a community admin</a>. </div>
            </div>
        </div>
    </div>
</section>

<section id="tips-to-go-live" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content" style="padding: 35px 0; border-radius: 5px">
            <div class="modal-header">
                <h4 class="modal-title" style="color: #ff5566;font-weight: 600">Some Tips before you go live!</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="modal-close-icon"></span>
                </button>
            </div>
            <div class="modal-body mx-2 mx-lg-6 text-center" >
                <div class="d-flex flex-md-row align-items-center my-3 text-left">
                    <span class="mute-icon mr-3"></span>
                    <span>
                        Once you go live you will be able to Mute or
                            Remove People from the room.
                    </span>
                </div>
                <div class="d-flex flex-md-row align-items-center text-left">
                    <span class="share-icon mr-3"></span>
                    <span>
                        You will be able to control who can share the screen.
                    </span>
                </div>
                <div class="general_error error jGoLiveError">&nbsp;</div>
                <div class="flex-md-row"><a class="btn btn-primary tips-to-go-live-btn" href="javascript:void(0)">Go Live</a></div>
            </div>
        </div>
    </div>
</section>

<section id="meeting-tips-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content" style="padding: 35px 0; border-radius: 5px">
            <div class="modal-header mb-5">
                <h4 class="modal-title" style="color: #ff5566;font-weight: 600">Some Tips before you go live!</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="modal-close-icon"></span>
                </button>
            </div>
            <div class="modal-footer d-flex flex-column mx-6 text-center" >
                <div class="flex-md-row">
                    <span class="mute-icon mr-3"></span>
                        SOME MEETING TIPS  SOME MEETING TIPS SOME MEETING TIPS
                </div>
                <div class="flex-md-row mb-5">
                    <span class="share-icon mr-3"></span>
                        SOME MORE TIPS SOME MORE TIPS SOME MORE TIPS
                </div>
            </div>
        </div>
    </div>
</section>
