<section id="logged-out-instructions" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content" style="padding: 35px 0; border-radius: 5px">
            <div class="modal-header mb-5">
                <h4 class="modal-title" style="color: #ff5566;font-weight: 600">Instructions To go live</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="modal-close-icon"></span>
                </button>
            </div>
            <div class="modal-footer d-flex flex-column flex-md-row mx-5 text-center">
                You will need to Login to host a live Meeting.Only Admins of a community
                can host a live Meeting, If you aren’t an admin already you will need to create
                your community on the Pepo App to get started!
            </div>
        </div>
    </div>
</section>

<section id="logged-in-instructions" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content" style="padding: 35px 0; border-radius: 5px">
            <div class="modal-header mb-5">
                <h4 class="modal-title" style="color: #ff5566;font-weight: 600">Instructions To go live</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="modal-close-icon"></span>
                </button>
            </div>
            <div class="modal-footer d-flex flex-column flex-md-row mx-5 text-center">
                Only Admins of a community can host a live Meeting,
                You will need to create your community on the Pepo App to get started!
            </div>
        </div>
    </div>
</section>

<section id="tips-to-go-live" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content" style="padding: 35px 0; border-radius: 5px">
            <div class="modal-header mb-5">
                <h4 class="modal-title" style="color: #ff5566;font-weight: 600">Some Tips before you go live!</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="modal-close-icon"></span>
                </button>
            </div>
            <div class="modal-footer d-flex flex-column mx-6 text-center" >
                <div class="flex-md-row">
                    <span class="mute-icon mr-3"></span>
                        Once you go live you will be able to Mute or
                            Remove People from the room.
                </div>
                <div class="flex-md-row">
                    <span class="share-icon mr-3"></span>
                        You will be able to control who can share the screen.
                </div>
                <div class="general_error error jGoLiveError">&nbsp;</div>
                <div class="mt-5 flex-md-row"><a class="btn btn-primary tips-to-go-live-btn" href="javascript:void(0)">Go Live</a></div>
            </div>
        </div>
    </div>
</section>