<section id="downloadModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content" style="padding: 35px 0; border-radius: 5px">
            <div class="modal-header mb-5">
                <h4 class="modal-title" style="color: #ff5566;font-weight: 600">Download The Pepo App!</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="modal-close-icon"></span>
                </button>
            </div>
            <div class="modal-footer d-flex flex-column flex-md-row mx-auto">
                <a href="<%= androidAppLink %>" target="_blank" title="Download Pepo App - Android" class="d-inline-block" rel="noopener noreferrer nofollow">
                    <span class="modal-google-play-icon"></span>
                </a>
                <a href="<%= iosAppLink %>" target="_blank" title="Download Pepo App - iOS" class="ml-md-3 mt-4 mt-md-0" rel="noopener noreferrer nofollow">
                    <span class="modal-app-store-icon"></span>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="reportModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content" style="padding: 35px 0; border-radius: 5px">
            <div class="modal-header">
                <h4 class="modal-title" style="color: #ff5566;font-weight: 600">Report Video</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="modal-close-icon"></span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-center mb-0">Report video for inappropriate content or abuse ?</p>
            </div>
            <div class="modal-footer mx-auto">
                <a href="javascript:void(0)" title="Report" class="d-inline-block modalLinks report-title" data-dismiss="modal" rel="noopener noreferrer nofollow">Report</a>
                <a href="javascript:void(0)" title="Cancel" class="ml-5 modalLinks" data-dismiss="modal" aria-label="Close">Cancel</a>
            </div>
        </div>
    </div>
</section>

<section id="loginModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm modal-dialog-login " role="document">
        <div class="modal-content modal-content-login p-0">
            <div class="modal-body">
               <div class="logged-out">
                <div id="twitterSignIn" class="loginBtn">
                    <div class="w-100 customBtn my-2">
                        <div class="icon d-inline">
                            <svg width="35" height="35" class="icon-content">
                                <switch>
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter-icon"></use>
                                </switch>
                            </svg>
                        </div>
                        <div class="buttonText d-inline">Continue with Twitter</div>
                    </div>
                </div>
                <div id="googleSignIn" class="loginBtn">
                    <div class="w-100 customBtn mb-2">
                        <div class="icon d-inline">
                            <svg width="35" height="35" class="icon-content">
                                <switch>
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#gmail-icon"></use>
                                </switch>
                            </svg>
                        </div>
                        <div class="buttonText d-inline">Continue with Gmail</div>
                    </div>
                </div>
                <div id="githubSignIn" class="loginBtn">
                    <div class="w-100 customBtn mb-2">
                        <div class="icon d-inline">
                            <svg width="35" height="35" class="icon-content">
                                <switch>
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#github-icon"></use>
                                </switch>
                            </svg>
                        </div>
                        <span class="buttonText">Continue with Github</span>
                    </div>
                </div>
                <div id="appleSignIn" class="loginBtn">
                    <div class="w-100 customBtn mb-2">
                        <div class="icon d-inline">
                            <svg width="35" height="35" class="icon-content">
                                <switch>
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#apple-icon"></use>
                                </switch>
                            </svg>
                        </div>
                        <div class="buttonText d-inline">Continue with Apple ID</div>
                    </div>
                </div>
                <div id="name"></div>
               </div>
            </div>
        </div>
    </div>
</section>
<section id="logoutModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm modal-dialog-logout" role="document">
        <div class="modal-content modal-content-logout p-2" >
            <div class="modal-body px-0 my-0">
                <div class="logged-in ml-2 my-auto" id="logoutBtn">
                    <div class="w-100">
                        <div class="icon d-inline m-auto">
                            <svg width="25" height="25" class="icon-content">
                                <switch>
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logout-icon"></use>
                                </switch>
                            </svg>
                        </div>
                        <div class="buttonText d-inline ml-2">Logout</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
