<section id="downloadModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content" style="padding: 35px 0; border-radius: 5px">
            <div class="modal-header mb-5">
                <h3 class="modal-title" style="color: #ff5566;font-weight: 600">Download The Pepo App!</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color: red; font-size: 20px">X</span>
                </button>
            </div>
            <div class="modal-footer d-flex flex-column flex-md-row mx-auto">
                <a href="<%= androidAppLink %>" target="_blank" title="Download Pepo App - Android" class="d-inline-block" rel="noopener noreferrer nofollow">
                    <img src="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/google-play.png" alt="Google Play" class="img-fluid" width="175"/>
                </a>
                <a href="<%= iosAppLink %>" target="_blank" title="Download Pepo App - iOS" class="ml-md-3 mt-4 mt-md-0" rel="noopener noreferrer nofollow">
                    <img src="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/app-store.png" alt="App Store" class="img-fluid" width="175"/>
                </a>
            </div>
        </div>
    </div>
</section>


<section id="reportModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content" style="padding: 35px 0; border-radius: 5px">
            <div class="modal-header">
                <h3 class="modal-title" style="color: #ff5566;font-weight: 600">Report Video</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color: red; font-size: 20px">X</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-center mb-0">Report video for inappropriate content or abuse ?</p>
            </div>
            <div class="modal-footer d-flex flex-column flex-md-row mx-auto">
                <a href="javascript:void(0)" title="Report" class="d-inline-block modalLinks report-title" data-dismiss="modal" rel="noopener noreferrer nofollow">Report</a>
                <a href="javascript:void(0)" title="Cancel" class="ml-md-3 mt-4 mt-md-0 modalLinks" data-dismiss="modal" aria-label="Close">Cancel</a>
            </div>
        </div>
    </div>
</section>
