<%
ost_watch_link = "https://ostwatch.com/mainnet"
calendly_link = "https://calendly.com/ostdotcom"
%>
<nav class="<%= pepoNav %> container-fluid px-4">
    <div class="row align-items-center">
        <a class="pepo-brand ml-2 ml-md-0" href="/" title="Pepo">
            <img src="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/pepo-logo.png" alt="Pepo Logo" class="img-fluid" width="89.66"/>
        </a>
        <div class="nav-item-wrapper ml-auto">
            <a href="javascript:void(0)" rel="noopener noreferrer nofollow" class="downloadApp main-nav-item d-app-nav-item d-inline-block" title="Open in App">Open in App</a>
        </div>
        <label for="tm" id="toggle-menu" class="mb-0 align-self-start navbar-toggler" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="toggle-menu"></span>
            <span class="toggle-menu"></span>
            <span class="toggle-menu"></span>
        </label>
        <input type="checkbox" id="tm">
        <ul class="main-menu clearfix m-0 p-0 list-unstyled collapse" style="" id="navbarToggler">

            <li class="nav-item-wrapper">
                <a href="https://medium.com/@thepepoapp" target="_blank" rel="noopener noreferrer nofollow" class="main-nav-item" title="Blog">Blog</a>
            </li>

            <li class="nav-item-wrapper">
                <a href="https://ost.com/" target="_blank" rel="noopener noreferrer nofollow" class="main-nav-item" title="Ost Technology">Ost Technology</a>
            </li>

        </ul>

    </div>
</nav>

<div class="navbar-phatom-el"></div>
