<nav class="<%= pepoNav %> container-fluid">
    <div class="row align-items-center" style="min-height: 58px;padding: 0 15px">
        <a class="pepo-brand" href="/" title="Pepo">
            <span class="pepo-logo-nav"></span>
        </a>
        <div class="row align-items-center ml-auto mr-1 logged-in">
            <svg width="24" height="24" class="mr-1">
                <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wallet-icon"></use>
                </switch>
            </svg>
            <span class="mr-4">123</span>
            <div id="logoutApp" class="d-inline p-1 user-info">
                <img src="<%= currentUser.getUserProfileImage() %>" style="width: 30px; height: 30px; object-fit: cover;border-radius: 15px"/>
                <span class="ml-1 mr-5"><%= currentUser.getUserName() %></span>
                <svg width="20" height="20" style="vertical-align: middle;">
                    <switch>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#down-arrow-icon"></use>
                    </switch>
                </svg>
            </div>
        </div>
    </div>
</nav>

<div class="navbar-phatom-el"></div>
