<nav class="<%= pepoNav %> container-fluid">
    <span class="row align-items-center justify-content-between" style="min-height: 58px;padding: 0 15px">
        <a class="pepo-brand" href="/" title="Pepo">
            <span class="pepo-logo-nav"></span>
        </a>
        <% if (!!showSearch) {%>
        <div class="pl-2 pr-0 search-box d-md-flex d-none align-items-center justify-content-center ml-md-4 ml-lg-0 col-4 mr-auto">
                <div class="search-icon"></div>
                <input class="search-input ml-2 mr-1 community-search" placeholder="Search communities by name" type="search" type="text" />
            </div>
        <% } %>
        <!--<div class="nav-item-wrapper ml-auto main-menu clearfix m-0 p-0 list-unstyled collapse ml-auto" id="navbarToggler">-->

        <!--</div>-->
        <ul class="main-menu clearfix m-0 p-0 list-unstyled collapse d-md-flex" id="navbarToggler">
              <li class="nav-item-wrapper ">
                    <a href="javascript:void(0)" class="main-nav-item py-3 py-md-2 jGoLiveBtn pl-0">Go Live!
                    <label title="Go live" class="p-0 m-0" for="go live"></label>
                </a>
                <input type="checkbox" id="goLive"/>
                <!--Sachin Chauhan :: Please don not remove or comment it-->
                  <!--start-->
                  <!--end-->
            </li>

            <li id="logoutAppWeb"
                class="pl-2 user-info d-md-flex align-items-center d-none login-details-section">
                <span class="position-relative" style="font-size: 0">
                    <% if (currentUser.getUserProfileImage()) {%>
                    <img src="<%= currentUser.getUserProfileImage() %>" class="user-profile-icon"/>
                    <% } else{ %>
                    <span class="nav-bar-user-empty-profile-icon"></span>
                    <% } %>
                </span>
                <span class="ml-2 d-none d-md-block text-truncate" style="font-family: AvenirNext-Medium;color: #ff5566;width: 135px"><%= currentUser.getUserName() %></span>
                <span class="downward-arrow-icon downward-arrow-animation ml-auto d-none d-md-block"></span>

            </li>

            <li id="logoutAppMobile" class="d-block d-md-none logoutBtn">
                <span class="d-block d-md-none d-flex align-items-center p-3 justify-content-between w-100 "
                      style="color: #ff5566; font-family: AvenirNext-Medium">Logout<span class="login-icon mr-2"></span></span>
            </li>

        </ul>
        <label for="tm" id="toggle-menu" class="mb-0 navbar-toggler" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="d-flex align-items-center">
                <span class="position-relative" style="font-size: 0">
                    <% if (currentUser.getUserProfileImage()) {%>
                    <img src="<%= currentUser.getUserProfileImage() %>" class="user-profile-icon"/>
                    <% } else{ %>
                    <span class="nav-bar-user-empty-profile-icon"></span>
                    <% } %>
                </span>
             </span>
        </label>
    </span>
</nav>

<div class="navbar-phatom-el"></div>
