<%
    channelId = apiResponseData['meeting']['channel_id'];
    channelName = apiResponseData['channels'][channelId]['name'];

    hostUserId = apiResponseData['meeting']['host_user_id'];
    hostUser = apiResponseData["users"][hostUserId];
    hostUserName = hostUser["name"];
%>
<nav class="meeting-subnav nav px-md-3 py-md-2">
    <ul class="list-unstyled m-0 d-md-flex" style="font-size: 0;">
        <li class="nav-link text-truncate w-100 pr-0">
            <span class="text-truncate d-block community">Community: <span style="font-family: AvenirNext-Medium" class="ml-2"><%- channelName %></span></span>
        </li>
        <li class="nav-link text-truncate w-100 pr-0">
            <span class="text-truncate d-block" style="font-size: 16px">Host: <span style="font-family: AvenirNext-Medium" class="ml-2"><%- hostUserName %></span></span>
        </li>
    </ul>
    <ul class="list-unstyled m-0 d-flex justify-content-md-end ml-md-auto" style="font-size: 0;">
        <li class="nav-link copyToClipboard">
            <span style="font-size: 16px">Share Meeting</span>
        </li>
        <li class="nav-link jMeetingTips">
            <span style="font-size: 16px">Meeting Tips</span>
        </li>
    </ul>
</nav>
