<nav class="meeting-subnav nav px-md-3 py-md-2">
    <ul class="list-unstyled m-0 d-md-flex" style="font-size: 0;">
        <li class="nav-link text-truncate w-100 pr-0">
            <span class="text-truncate d-block community">Community:<span id="communityName" class="ml-2"></span></span>
        </li>
        <li class="nav-link text-truncate w-100 pr-0">
            <span class="text-truncate d-block community">Host:<span class="ml-2">David Letterman</span></span>
        </li>
    </ul>
    <ul class="list-unstyled m-0 d-flex justify-content-md-end ml-md-auto" style="font-size: 0;">
        <li class="nav-link">
            <span style="font-size: 16px">Share Meeting</span>
        </li>
        <li class="nav-link">
            <span style="font-size: 16px">Meeting Tips</span>
        </li>
    </ul>
</nav>
