<nav class="meeting-subnav nav">
    <span class="nav-link">Community: <span id="communityName"></span></span>
    <span class="nav-link ml-auto">
        <span>Share Meeting</span>
        <span>Meeting Tips</span>
    </span>
</nav>
