<a href="javascript:void(0)" target="_blank" title="Download Pepo App - iOS">
    <img src="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/app-store.png" alt="App Store" class="img-fluid" width="175"/>
</a>
<a href="javascript:void(0)" target="_blank" title="Download Pepo App - Android" class="ml-lg-3 mt-4 mt-lg-0 d-inline-block">
    <img src="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/google-play.png" alt="Google Play" class="img-fluid" width="175"/>
</a>