<a href="<%= androidAppLink %>" target="_blank" title="Download Pepo App - Android" class="d-inline-block" rel="noopener noreferrer nofollow">
    <img src="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/google-play.png" alt="Google Play" class="img-fluid" width="175"/>
</a>
<a href="<%= iosAppLink %>" target="_blank" title="Download Pepo App - iOS" class="ml-lg-3 mt-4 mt-lg-0 d-inline-block" rel="noopener noreferrer nofollow">
    <img src="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/app-store.png" alt="App Store" class="img-fluid" width="175"/>
</a>
