<a href="<%= twitterRedirectUrl %>" class="twitter-connect btn btn-primary d-flex align-items-center justify-content-center mx-auto" class="text-link btn btn-primary" title="Request Invite">Request Invite
    <%- include _twitterSvg -%>
</a>
