<section id="videoDetailsModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered h-100" role="document">
        <div class="modal-content">
            <div class="modal-header d-md-none p-0" style="pointer-events: auto">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="left: 0;top: 10px;height: 40px;width: 40px;">
                    <span aria-hidden="true" class="video-back-icon"></span>
                </button>
            </div>
            <div class="container-fluid videoDetailsContainer p-0 h-100" style="background-color: transparent;font-size: 0"></div>
        </div>
    </div>
</section>

