<div class="container-fluid videoDetailsContainer mt-2">
    <div class="row">
        <div class="col-12 p-0 mx-auto">
            <div class="container p-1">
                <ul class="mx-auto mb-0 list-unstyled d-flex flex-wrap videoUnordered mt-2" id="videoListParent">
                </ul>
                <div  class="border-no-video" id="no-video-div">
                    <label  class="label-no-video label-no-video-margin" >No Video in this community.</label><br>
                    <label class="label-no-video" >Create the first video!</label>
                </div>
            </div>
        </div>
    </div>
</div>
