<div class="container-fluid videoDetailsContainer">
    <div class="row">
        <div class="col-12 p-0 mx-auto">
            <div class="container p-0">
                <ul class="mx-auto mb-0 list-unstyled d-flex flex-wrap videoUnordered mt-2" id="videoListParent">
                </ul>
            </div>
        </div>
    </div>
</div>
