<!DOCTYPE html>
<html lang="en">
  <head>
   <%- include partials/head -%>
  </head>
  <body>
    <div class="container-fluid text-center">
      <img src="logo-pepo2.png" class="img-fluid my-5" width="179"/>

      <div class="row align-items-center side-by-side">
        <div class="col-12 col-md-6 col-lg-5 col-xl-4 ml-auto">
          <div class="copy">
            <h1 class="mb-3">Meet the people shaping the crypto movement</h1>
            <p>Whether you’re a crypto developer, podcaster, analyst, or blogger, there’s never been an easier way to showcase your work, earn appreciation, and connect with the community.</p>
            <p class="mt-6 text-uppercase" style="font-weight: 600; letter-spacing: 1px">Launching in 27 Days, <br/>Early Access by Invite Only</p>
            <button id="twitter-connect" class="text-link btn btn-primary" title="Request Invite">Request Invite</button>
          </div>
        </div>
        <div class="col-12 col-md-6 pr-0">
          <img class="img-fluid"
               src="first-guy.png"
               width="318"
               alt="OST - Design Your Brand Token">
        </div>
      </div>

      <div class="row mt-6">
        <div class="container-fluid position-relative p-0">
          <img src="mohamed-nohassi-odxB5oIG_iA-unsplash-v3 (1).png" class="img-fluid"/>
          <p style="position: absolute; left: 0; bottom: 100px;margin: auto; color: #fff; width: 100%; font-size: 30px">The best crypto user experience ever made</p>
        </div>
      </div>

      <%- include partials/side_by_side -%>

    </div>
  </body>
<% include partials/script %>
</html>