<!DOCTYPE html>
<html lang="en">
  <head>
   <%- include partials/head -%>
  </head>
  <body>
    <div class="container-fluid text-center">
      <h3><%= page %></h3><br>
      <%- include partials/side_by_side.ejs -%>
    </div>
  </body>
<% include partials/script %>
</html>