<html>
<head>
    <title> OpenTok Getting Started </title>
        <link href="abc.css" rel="stylesheet" type="text/css">
    <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
</head>
<body>

<div id="main" style="width: 75vw; height: 100%; float: left">
    <div id="publisher" style="width: inherit;height: inherit;left: 0"></div>
</div>

<div id="subscriber" style="width: 24vw;right: 0!important;top: 0!important;"></div>

<script type="text/javascript" src="abc.js"></script>
</body>
</html>