<!DOCTYPE html>
<html lang="en">
  <head>
   <%- include partials/shared/_header -%>

   <script>window.name = "<%= Math.random().toString(36).replace(/[^a-z0-9]+/g, ''); %>"</script>
  </head>
  <body contenteditable="false">

    <%- include web/_home -%>

    <%- include partials/shared/_footer -%>

  </body>
<% include partials/shared/_script %>
</html>