<div>
    Redirecting...
</div>
<script>
    //TODO : remove this from here
    $(function () {
      var stateCookie = document.cookie.replace(/(?:(?:^|.*;\s*)state\s*\=\s*([^;]*).*$)|^.*$/, "$1");
      if(stateCookie){
        window.location = stateCookie;
        document.cookie = "state=; expires=Thu, 01 Jan 1970 00:00:00 UTC;";
      }else{
        window.location = "pepodev.com";//TODO : get this from env vars
      }
    })()

</script>