<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/shared/_headerMeetly.ejs %>
    <% include partials/shared/_css.ejs %>
    <script>window.name = "<%= Math.random().toString(36).replace(/[^a-z0-9]+/g, ''); %>"</script>
  </head>
  <body contenteditable="false">
    <%- include(_contentPartial) -%>
    <% include partials/shared/_script.ejs %>
  </body>
</html>
