<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/shared/_headerMeetly.ejs %>
    <%- css('common') %>
    <%- css('meetlySplash') %>
  </head>
  <body contenteditable="false">
    <%- include(_contentPartial) -%>
    <%- js('meetlySplash') %>
  </body>
</html>
