<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Pepo</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <meta name="description" content="Collect more than Likes">
  <meta name="keywords" content="pepo, pepo app, an ost project, more than likes">
  <meta name="robots" content="index, follow">
  <link rel="canonical" href="https://pepo.com" />

  <meta property="og:title" content="Pepo"/>
  <meta property="og:description" content="Collect more than Likes"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="https://pepo.com"/>
  <meta property="og:site_name" content="pepo.com"/>
  <meta property="og:image" content="https://d3attjoi5jlede.cloudfront.net/images/web/fav/pepo-meta-img.png"/>

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Pepo" />
  <meta name="twitter:description" content="Collect more than Likes" />
  <meta name="twitter:image" content="https://d3attjoi5jlede.cloudfront.net/images/web/fav/pepo-meta-img.png" />

  <script type="text/javascript">
    function generate_random_string(slength){
      let random_string = '';
      let random_ascii;
      let ascii_low = 65;
      let ascii_high = 90
      for(let i = 0; i < slength; i++) {
        random_ascii = Math.floor((Math.random() * (ascii_high - ascii_low)) + ascii_low);
        random_string += String.fromCharCode(random_ascii)
      }
      return random_string
    }
    window.name = generate_random_string(10);
  </script>
  <link rel="icon" type="image/png" sizes="64x64" href="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/fav-icons/64x64.png"/>
  <link rel="apple-touch-icon" sizes="57x57" href="https://d3attjoi5jlede.cloudfront.net/images/web/fav/57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="https://d3attjoi5jlede.cloudfront.net/images/web/fav/60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="https://d3attjoi5jlede.cloudfront.net/images/web/fav/72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="https://d3attjoi5jlede.cloudfront.net/images/web/fav/76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="https://d3attjoi5jlede.cloudfront.net/images/web/fav/114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="https://d3attjoi5jlede.cloudfront.net/images/web/fav/120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="https://d3attjoi5jlede.cloudfront.net/images/web/fav/144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="https://d3attjoi5jlede.cloudfront.net/images/web/fav/152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="https://d3attjoi5jlede.cloudfront.net/images/web/fav/180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="https://d3attjoi5jlede.cloudfront.net/images/web/fav/192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://d3attjoi5jlede.cloudfront.net/images/web/fav/32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="https://d3attjoi5jlede.cloudfront.net/images/web/fav/96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://d3attjoi5jlede.cloudfront.net/images/web/fav/16x16.png">
  <style>
    html,
    body{
      height: 100vh;
      font-family: "Avenir next", sans-serif;
    }
    body{
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    main{
      max-height: 100%;
    }
    video{
      width: auto;
      height: 100vh;
    }
    .mobileFrame{
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
    }
    .bottomTitleMobileWrap{
      margin: 0;
      text-align: center;
      position: absolute;
      bottom: 20px;
      width: 100%;
    }
    .bottomTitleWeb{
      display: none;
    }
    .copyRightColor{
      color: #999999;
      font-size: 12px;
      text-decoration: none;
    }
    @media screen and (max-width: 767px){
      main{
        overflow: hidden;
      }
    }
    @media screen and (min-width: 767px)  {
      video{
        height: 600px;
        width: 300px;
        transform: scale(0.95);
      }
      .mobileFrame {
        background-image: url(https://d3attjoi5jlede.cloudfront.net/images/web/pepo-splashpage-frame.png);
        background-repeat: no-repeat;
        background-size: 100%;
        height: 600px;
        width: 300px;
      }
      .bottomTitleWeb{
        display: block;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 5px;
        color: #2A293A;
        font-size: 16px;
      }
      .bottomTitleMobile{
        display: none;
        color: #2A293A;
        font-size: 14px;
      }
      .copyRightColor{
        color: #999999;
        font-size: 12px;
        text-decoration: none;
      }
    }
  </style>
</head>

<body contenteditable="false">
  <main>
    <div style="position: relative">
      <video autoplay loop muted playsinline poster="https://d3attjoi5jlede.cloudfront.net/images/web/pepo-splashpage-cover.jpg">
        <source src="https://d3attjoi5jlede.cloudfront.net/images/web/pepo-splashpage.mp4" type="video/mp4">
        <source src="https://d3attjoi5jlede.cloudfront.net/images/web/pepo-splashpage.ogv" type="video/ogg">
        <source src="https://d3attjoi5jlede.cloudfront.net/images/web/pepo-splashpage.webm" type="video/webm">
      </video>
      <div class="mobileFrame"></div>
      <div class="bottomTitleMobileWrap">
        <p class="bottomTitleMobile">An OST project</p>
        <p class="bottomTitleMobile copyRightColor">Copyright © 2019 <a href="https://ost.com/" target="_blank" class="copyRightColor">pepo.com</a>. All Rights Reserved.</p>
      </div>
    </div>
    <p class="bottomTitleWeb">An OST project</p>
    <p class="bottomTitleWeb copyRightColor">Copyright © 2019 <a href="https://ost.com/" target="_blank" class="copyRightColor">pepo.com</a>. All Rights Reserved.</p>
  </main>
</body>
</html>
