<html>
<head>
    <title> OpenTok Getting Started </title>
    <link href="abc.css" rel="stylesheet" type="text/css">
    <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
</head>
<body>

<div id="main">

</div>

<div id="subscriber" >
</div>

<!--<div id="publisher">-->
<!--</div>-->


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="abc.js"></script>
</body>
</html>