<!DOCTYPE html>
<html lang="en">
  <head>
   <%- include partials/shared/_csrf -%>
   <%- include partials/shared/_dev_env -%>
   <script>window.name = "<%= Math.random().toString(36).replace(/[^a-z0-9]+/g, ''); %>"</script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
   <script>
    window.addEventListener("load", function(e){
     $.ajax({
       url:"/api/v1/auth/google/login",
       method:'POST',
       success:function (res) {
         console.log("success redirect ajax")
       },
       error : function (err) {
         console.log("error redirect ajax")
       }
     })
   });
 </script>
  </head>
  <body contenteditable="false">

  </body>
</html>
