<div class="container-fluid text-center">
    <div class="row align-items-center side-by-side pt-6">
        <div class="col-12 col-md-6 col-lg-5 col-xl-4 ml-auto meet-people">
            <img src="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/pepo-logo.png" class="img-fluid mb-5" width="179"/>
            <h1 class="mb-3">Meet the people shaping the crypto movement</h1>
            <% if(new Date().getMonth() <= 8) { %>
            <p class="mt-6 text-uppercase" style="font-weight: 600; letter-spacing: 1px;color: #FF5566">Launching in <%= 30 - (new Date().getDate()) %> Days, <br/>By Invite Only</p>
            <% } %>
            <a href="<%= twitterRedirectUrl %>" class="twitter-connect btn btn-primary d-flex align-items-center justify-content-center mx-auto" class="text-link btn btn-primary" title="Request Invite">Request Invite
                <%- include ../../../partials/shared/_twitterSvg -%>
            </a>
            <% if (typeof twitterSigninError != 'undefined' && twitterSigninError) { %>
                <div class="error twitter-signin-error">Something Went Wrong!</div>
            <%}%>
        </div>
        <div class="col-12 col-md-6 pr-md-0 pt-6 pt-md-0 meet-people-image">
            <img class="img-fluid"
                 src="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/s-b-s-4.png"
                 width="318"
                 alt="Pepo User 1">
        </div>
    </div>

    <div class="row pt-6 j-image-animation">
        <div class="p-0 position-relative">
            <img src="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/pepo-bg-j-banner-web.png" class="img-fluid d-none d-md-block"/>
            <img src="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/pepo-bg-j-banner-mobile.png" class="img-fluid d-block d-md-none"/>
            <div style="position: absolute; left: 0; bottom: 0;right: 0;top:0;background-color: rgba(0, 0, 0, 0.2);">
                <div style="color: #fff;
                          font-size: 30px;
                          height: 100%;
                          margin: 0;
                          display: flex;
                          align-items: center;
                          justify-content: center;
                          text-transform: uppercase;
                          letter-spacing: 1px;">
                    <span class="d-none d-md-block">The best crypto user experience ever made</span>
                    <span class="d-block d-md-none">The best crypto <br/>user experience <br/>ever made</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row align-items-center side-by-side py-6 meet-people-image">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5 mx-auto text-left">
            <h2 class="mb-3 text-center">PEPO IS NOT JUST ANOTHER <br/>CRYPTO APP</h2>
            <p class="mb-0">Until now, crypto has mostly been a solution looking for a problem.</p>
            <p>We interviewed hundreds of people about their online behaviors, looking for gaps where crypto could move the needle in a big way. Then, we designed a crypto app for people. </p>
            <p>Pepo is the best crypto user experience ever made. It’s blazing fast. Simple. Human. Pepo removes many of the icky bits that have limited crypto mass-adoption, while making crypto about the people, not just the technology. It’s an app the entire movement can get behind.</p>
            <p>Pepo is so fast, so easy to use, that you’ll reimagine what’s possible with crypto.</p>
        </div>
    </div>
</div>