<div class="container-fluid py-3 uber-banner position-relative" style="background-color: #ffffff">
    <div class="row">
        <div class="col-12 col-md-10 mx-auto text-center align-middle d-flex justify-content-center">
            <svg id="uber-banner-megaphone-icon" viewBox="0 0 16 13" style="width: 20px;fill: #FF5566;">
                <path id="path-1" d="M14,8V7a1,1,0,0,0,0-2V4a2,2,0,0,1,0,4ZM3,3.5H4v5H3ZM13,1.34A.49.49,0,0,0,12.34,1L2.08,4.49A1.59,1.59,0,0,0,1,6,1.57,1.57,0,0,0,2.08,7.5L12.34,11a.45.45,0,0,0,.16,0,.5.5,0,0,0,.5-.5v-9A.45.45,0,0,0,13,1.34Zm-6.2,8.8-.91,2A1.48,1.48,0,0,1,4.5,13,1.5,1.5,0,0,1,3,11.5V8.87L1.76,8.45a2.59,2.59,0,0,1,0-4.91L12,.08a1.5,1.5,0,0,1,1.9.94A1.61,1.61,0,0,1,14,1.5v9A1.5,1.5,0,0,1,12.5,12a1.56,1.56,0,0,1-.48-.08Zm-.95-.32L4,9.21V11.5a.5.5,0,0,0,.5.5A.48.48,0,0,0,5,11.71Z"/>
            </svg>
            <a class="ml-2 smooth-scroll" title="Refer and get 5% of their earnings!" href="#refer-to-get">Refer and get 5% of their earnings!</a>
        </div>
    </div>
</div>

<div class="container-fluid text-center">
    <div class="row align-items-center side-by-side pt-6">
        <div class="col-12 col-md-6 col-lg-5 col-xl-4 ml-auto meet-people">
            <img src="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/pepo-logo.png" class="img-fluid mb-5" width="179"/>
            <h1 class="mb-3">Meet the people shaping the crypto movement</h1>
            <p class="mt-6 text-uppercase" style="font-weight: 600; letter-spacing: 1px;color: #FF5566">Launching in 27 Days, <br/>By Invite Only</p>
            <a href="<%= twitterRedirectUrl %>" class="twitter-connect btn btn-primary d-flex align-items-center justify-content-center mx-auto" class="text-link btn btn-primary" title="Request Invite">Request Invite
                <%- include ../../../partials/shared/_twitterSvg -%>
            </a>
            <% if (typeof twitterSigninError != 'undefined' && twitterSigninError) { %>
                <div class="error twitter-signin-error">Failed to sign in via twitter.</div>
            <%}%>
        </div>
        <div class="col-12 col-md-6 pr-md-0 pt-6 pt-md-0 meet-people-image">
            <img class="img-fluid"
                 src="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/s-b-s-1.png"
                 width="318"
                 alt="Pepo User 1">
        </div>
    </div>

    <div class="row pt-6 j-image-animation">
        <div class="p-0 position-relative">
            <img src="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/pepo-bg-j-banner-web.png" class="img-fluid d-none d-md-block"/>
            <img src="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/pepo-bg-j-banner-mobile.png" class="img-fluid d-block d-md-none"/>
            <div style="position: absolute; left: 0; bottom: 0;right: 0;top:0;background-color: rgba(0, 0, 0, 0.2);">
                <div style="color: #fff;
                          font-size: 30px;
                          height: 100%;
                          margin: 0;
                          display: flex;
                          align-items: center;
                          justify-content: center;
                          text-transform: uppercase;
                          letter-spacing: 1px;">
                    <span class="d-none d-md-block">The best crypto user experience ever made</span>
                    <span class="d-block d-md-none">The best crypto <br/>user experience <br/>ever made</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row align-items-center side-by-side py-6">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5 mx-auto text-left">
            <h2 class="mb-3 text-center">PEPO IS NOT JUST ANOTHER<br/> CRYPTO APP</h2>
            <p class="mb-0">Until now, crypto has mostly been a solution looking for a problem.</p>
            <p>We flipped the coin and went looking for good problems to solve, with crypto.</p>
            <p>We interviewed hundreds of people about their online behaviors, looking for gaps where crypto could move the needle in a big way. Then, we designed a crypto app for people.</p>
            <p>Pepo is the best crypto user experience ever made. It’s blazing fast. Simple. Human. Pepo removes many of the icky bits that have limited crypto mass-adoption, while making crypto about the people, not just the technology. It’s an app the entire movement can get behind.</p>
            <p class="mb-md-6">Pepo is so fast, so easy to use, that you’ll reimagine what’s possible with crypto..</p>
        </div>
    </div>
</div>