<div class="container-fluid text-center">
<div class="row">
    <svg viewBox="0 0 100 100" preserveAspectRatio="none" class="svg-edge" style="height: 10vw;width: 100%">
        <polygon points="0,100 100,0 100,100" fill="#2A293B" stroke="#2A293B"></polygon>
    </svg>
</div>
<div class="row align-items-center side-by-side py-6" style="background-color: #2A293B">
    <div class="col-12 col-md-6 col-lg-5 col-xl-4 mr-auto order-2 pt-6 pt-md-0 order-2">
        <h1 class="mb-3" style="color: #fff">Where the crypto community comes together</h1>
        <p style="color: #ffffff" class="my-5">Whether you’re a crypto developer, podcaster, analyst, or blogger, there’s never been an easier way to showcase your work, earn appreciation, and connect with the community.</p>
        <a href="javascript:void(0)" class="text-link btn btn-primary" title="Request Invite">Request Invite</a>
    </div>
    <div class="col-12 col-md-6 pr-md-0">
        <img class="img-fluid"
             src="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/s-b-s-2.png"
             width="318"
             alt="Pepo User 2">
    </div>
</div>


<div class="row align-items-center side-by-side py-6">
    <div class="col-12 col-md-6 col-lg-5 col-xl-4 ml-auto pb-6 pb-md-0">
        <h1 class="mb-3">Video shorts from the makers who matter</h1>
        <p class="my-5">Reinventing the like to create meaningful connections</p>
        <a href="javascript:void(0)" class="text-link btn btn-primary" title="Request Invite">Request Invite</a>
    </div>
    <div class="col-12 col-md-6 pr-md-0">
        <img class="img-fluid"
             src="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/s-b-s-3.png"
             width="318"
             alt="Pepo User 3">
    </div>
</div>

<div class="row">
    <svg viewBox="0 0 100 100" preserveAspectRatio="none" class="svg-edge" style="height: 10vw;width: 100%">
        <polygon points="0,0 100,100 0,100" fill="#FF8D9B" stroke="#FF8D9B"></polygon>
    </svg>
</div>
<div class="row align-items-center side-by-side py-6" style="background-color: #FF8D9B">
    <div class="col-12 col-md-6 col-lg-5 col-xl-4 mr-auto pt-6 pt-md-0 order-2">
        <h1 class="mb-3" style="color: #fff">So fast, so intuitive, you won’t believe it’s on-chain</h1>
        <p style="color: #fff">Every transaction is on Mainnet and it has the lowest tx cost ever thank to the amazing Mosaic and OpenST protocol combining for the best Layer 2 solution</p>
        <a href="javascript:void(0)" class="text-link btn btn-primary" title="Request Invite">Request Invite</a>
    </div>
    <div class="col-12 col-md-6 pr-md-0">
        <img class="img-fluid"
             src="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/s-b-s-4.png"
             width="318"
             alt="Pepo User 4">
    </div>
</div>


<div class="row align-items-center side-by-side py-6">
    <div class="col-12 col-md-6 col-lg-5 col-xl-4 ml-auto pb-6 pb-md-0">
        <h1 class="mb-3">Spread Your Code and Start Earning Today</h1>
        <p>When an approved creator joins through your code, you will be earning 5% of what he gets, for a full year. Share it now with all your friends and start earning!</p>
        <a href="javascript:void(0)" class="text-link btn btn-primary" title="Request Invite">Request Invite</a>
    </div>
    <div class="col-12 col-md-6 pr-md-0">
        <img class="img-fluid"
             src="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/s-b-s-5.png"
             width="318"
             alt="Pepo User 5">
    </div>
</div>
</div>