<div class="container-fluid text-center">

    <div class="row align-items-center side-by-side py-6 mt-md-5 edge--bottom--reverse position-relative" style="background-color: #2A293B">
        <div class="col-12 col-md-6 col-lg-5 col-xl-4 mr-auto order-2 pt-6 pt-md-0 order-2">
            <h1 class="mb-3" style="color: #fff">Connect with people, not profiles</h1>
            <p style="color: #ffffff;" class="mb-0">Join communities of people who share your passions</p>
        </div>
        <div class="col-12 col-md-6 pr-md-0">
            <div>
                <video autoplay loop muted playsinline
                       poster="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/pepo-connect-with-people-cover.png"
                       style="width: 250px" class="videoWrapperStyling"
                >
                    <source src="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/pepo-connect-with-people.mp4" type="video/mp4">
                </video>
            </div>
        </div>
        <!--<div class="col-12 col-md-6 pr-md-0 pb-md-6 mb-md-4">-->
            <!--<div class="videoWrapper">-->
                <!--<video autoplay loop muted playsinline-->
                       <!--poster="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/pepo-realness-cover.png"-->
                       <!--style="width: 250px" class="videoWrapperStyling"-->
                <!--&gt;-->
                    <!--<source src="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/pepo-realness.mp4" type="video/mp4">-->
                <!--</video>-->
            <!--</div>-->
            <!--<div class="position-relative d-inline-block">-->
                <!--<img class="img-fluid connect-with-people top-img"-->
                     <!--src="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/pepo-connect-with-people-1.png"-->
                     <!--alt="Pepo Connect with people 1">-->
                <!--<img class="img-fluid connect-with-people"-->
                     <!--src="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/pepo-connect-with-people-2.png"-->
                     <!--alt="Pepo Connect with people 2">-->
            <!--</div>-->
        <!--</div>-->
    </div>


    <div class="row align-items-center side-by-side py-6 mt-6">
        <div class="col-12 col-md-6 col-lg-5 col-xl-4 ml-auto pb-6 pb-md-0">
            <h1 class="mb-3">Tap into the realness</h1>
            <p class="mb-0">Bite-sized videos to get your point across</p>
        </div>
        <div class="col-12 col-md-6 pr-md-0 pt-md-6">
            <div>
                <video autoplay loop muted playsinline
                       poster="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/pepo-realness-cover.png"
                       style="width: 250px" class="videoWrapperStyling"
                >
                    <source src="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/pepo-realness.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>

    <div class="row align-items-center side-by-side py-6 edge--top position-relative mt-md-6" style="background-color: #2A293B">
        <div class="col-12 col-md-6 col-lg-5 col-xl-4 mr-auto pt-6 pt-md-0 order-2">
            <h1 class="mb-3" style="color: #fff">30 seconds never felt so rewarding</h1>
            <p style="color: #ffffff;" class="mb-0">Earn real money from anyone, anywhere</p>
        </div>
        <div class="col-12 col-md-6 pr-md-0">
            <div class="videoWrapper">
                <video autoplay loop muted playsinline
                       poster="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/pepo-30-seconds-cover.png"
                       style="width: 250px" class="videoWrapperStyling"
                >
                    <source src="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/pepo-30-seconds.mp4" type="video/mp4">
                </video>
                <div>
                    <a href="javascript:void(0)" class="videoSpeaker mute videoMuteUnMute" title="Click to Unmute">
                        <span></span>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="row align-items-center side-by-side py-6">
        <div class="col-12 col-md-6 col-lg-5 col-xl-4 ml-auto pb-6 pb-md-0">
            <h1 class="mb-3">Empowered by Crypto</h1>
            <p class="mb-0">Your wallet, your money, your future</p>
        </div>
        <div class="col-12 col-md-6 pr-md-0">
            <div class="videoWrapperStyling">
                <video autoplay loop muted playsinline
                       poster="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/pepo-empowered-by-crypto-cover.png"
                       style="width: 250px"
                >
                    <source src="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/pepo-empowered-by-crypto.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>


    <div class="row text-center py-5" style="background-color: #2A293B">
        <div class="col-12">
            <h4 style="color: #FFFFFF">An OST project</h4>
            <p style="color: #FFFFFF" class="my-4">Pepo is designed with love by OST. Meet the team and discover our technology.</p>
            <a href="https://ost.com" target="_blank" class="btn btn-primary px-6" title="Explore OST">Explore OST</a>
        </div>
    </div>
</div>
