<div class="container-fluid text-center">

    <div class="row align-items-center side-by-side py-6 edge--top--reverse position-relative mt-md-6" style="background-color: #2A293B">
        <div class="col-12 col-md-6 col-lg-5 col-xl-4 mr-auto order-2 pt-6 pt-md-0 order-2">
            <h1 class="mb-3" style="color: #fff">Where the crypto community comes together</h1>
            <p style="color: #ffffff" class="my-5">Whether you’re a crypto developer, podcaster, analyst, or blogger, there’s never been an easier way to showcase your work, earn appreciation, and connect with the community.</p>
            <%- include('../partials/shared/_twitterConnect', {twitterRedirectUrl: twitterRedirectUrl}) -%>
        </div>
        <div class="col-12 col-md-6 pr-md-0">
            <img class="img-fluid"
                 src="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/s-b-s-1-v1.png"
                 width="318"
                 alt="Pepo User">
        </div>
    </div>


    <div class="row align-items-center side-by-side py-6">
        <div class="col-12 col-md-6 col-lg-5 col-xl-4 ml-auto pb-6 pb-md-0">
            <h1 class="mb-3">Video shorts from the crypto makers who matter</h1>
            <p class="my-5">Developers. Builders. Hodlrs. Watch sneak previews. Get exclusive updates. Go behind the scenes.</p>
            <%- include('../partials/shared/_twitterConnect', {twitterRedirectUrl: twitterRedirectUrl}) -%>
        </div>
        <div class="col-12 col-md-6 pr-md-0">
            <video autoplay loop muted playsinline
                   poster="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/mdudas-hp-video-poster-image.png"
                   style="width: 300px"
            >
                <source src="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/pepo-pre-launch-mdudas-v2.mp4" type="video/mp4">
                <source src="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/pepo-pre-launch-mdudas-v2.ogg" type="video/ogg">
                <source src="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/pepo-pre-launch-mdudas-v2.webm" type="video/webm">
            </video>
        </div>
    </div>

    <div class="row align-items-center side-by-side py-6 edge--top position-relative mt-md-6" style="background-color: #FF8D9B">
        <div class="col-12 col-md-6 col-lg-5 col-xl-4 mr-auto pt-6 pt-md-0 order-2">
            <h1 class="mb-3" style="color: #fff">Collect more than just likes</h1>
            <p style="color: #fff">We reinvented the like button. Each tap sends 1 Pepo Coin person-to-person, with no fees.</p>
            <p style="color: #fff">Pepo Coins are ERC-20 tokens on layer-2 Ethereum blockchains. Pepo Coins cannot be transferred outside Pepo, but can be redeemed in-app for gift cards.</p>
            <p style="color: #fff" class="mb-4">The price of Pepo Coins is fixed in smart contract to mirror <a href="https://coinmarketcap.com/currencies/ost/" style="color: #fff; font-weight: 600;letter-spacing: 1px">the price of $OST Token</a>.</p>
            <%- include('../partials/shared/_twitterConnect', {twitterRedirectUrl: twitterRedirectUrl, aClasses: 'btn-secondary', svgClasses: 'red'}) -%>
        </div>
        <div class="col-12 col-md-6 pr-md-0">
            <img class="img-fluid"
                 src="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/peter-pan-revised.png"
                 width="318"
                 alt="Pepo User">
        </div>
    </div>


    <div class="row align-items-center side-by-side py-6" id="refer-to-get">
        <div class="col-12 col-md-6 col-lg-5 col-xl-4 ml-auto pb-6 pb-md-0">
            <h1 class="mb-3">So fast, so intuitive, you won’t believe it’s crypto.</h1>
            <p>Pepo is backed by staked $OST Tokens and every transaction is on-chain at blazing fast speeds and low costs, thanks to OST Platform Ethereum layer-2 technology, built on the OpenST Protocol.</p>
            <a href="https://ostwatch.com/mainnet/" target="_blank"
               class="btn btn-primary"
               title="Check On Mainnet"
               rel="noopener noreferrer">Check On Mainnet
            </a>
        </div>
        <div class="col-12 col-md-6 pr-md-0">
            <img class="img-fluid"
                 src="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/s-b-s-5-v2.png"
                 width="334"
                 alt="Pepo User">
        </div>
    </div>
    <div class="row text-center py-5" style="background-color: #2A293B">
        <div class="col-12">
            <h4 style="color: #FFFFFF">An OST project</h4>
            <p style="color: #FFFFFF" class="my-4">Pepo is designed with love by OST. Meet the team and discover our technology.</p>
            <a href="https://ost.com" target="_blank" class="btn btn-primary px-6" title="Explore OST">Explore OST</a>
        </div>
    </div>
</div>
