<div class="text-center">
  <a href="https://decrypt.co/10091/taking-ethereum-mainstream-social-media-app-pepo-goes-live-at-devcon-5"
     class="uber-banner d-block" title="Pepo goes live at Devcon 5" target="_blank">
    Taking Ethereum mainstream: Social media app Pepo goes live at Devcon 5.
  </a>
</div>

