<div id="meetingWrapper" class="meeting-iframe-wrapper d-flex align-items-center justify-content-center">
    <iframe id="zoomMeeting" class="meeting-iframe" src="/zoom-meeting" style="display: none;"></iframe>
    <div id="meetingError" class="meeting-error mb-5 mb-md-0" style="display: none;">
        <div class="error-text"></div>
        <a class="btn btn-primary error-btn" href="/" title="Go to Community">Go to Community</a>
    </div>
    <div id="meetingLoader" class="align-items-center justify-content-center mb-5 mb-md-0" style="display: none;">
        <span class="pepo-loading-icon pepo-loader-scale"></span>
    </div>
</div>
