<div class="meeting-iframe-wrapper">
    <iframe id="zoomMeeting" class="meeting-iframe" src="/zoom-meeting"></iframe>
    <div id="meetingError" class="meeting-error d-flex h-100 align-items-center justify-content-center" style="display: none;"></div>
</div>
