<div style="width: 100%; height: calc(100% - 58px)">
    <iframe id="zoomMeeting" src="/zoom-meeting" style="display: none; width: 100%; height: 100%; border:none"></iframe>
    <div id="meetingError" style="display: none;">
        Something went wrong while joining meeting
    </div>
</div>
