<div class="container text-center pt-6">
    <div>
        <div>
            <div class="text-right">
                <a href="" class="btn btn-secondary">Log Out</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="mt-4">Thank You @ImThahir</h2>
            <h3>You are in #777 queue.</h3>
            <h2 class="mt-5">Let Us be in touch</h2>
            <form class="col-8 mx-auto" id="home-subscribe-form">
                <div class="input-group mb-2">
                    <input type="email" class="form-control home-subscribe-form py-2" autocomplete="off" name="email" id="home-subscribe-form-email" placeholder="Enter email for OST Wallet">
                    <button class="btn btn-primary input-group-append px-3 align-items-center d-none d-md-block text-uppercase home-subscribe-form-submit" type="submit" title="TRY NOW" data-jsonp="/ost-wallet/testnet/test-invite">
                        Confirm
                    </button>
                </div>
                <div class="error email-error"></div>
                <button class="btn btn-primary input-group-append px-3 py-2 align-items-center d-md-none my-3 mb-5 mx-auto rounded text-uppercase home-subscribe-form-submit" type="submit" title="TRY NOW" data-jsonp="/ost-wallet/testnet/test-invite">
                    Confirm
                </button>
            </form>
        </div>
    </div>
</div>