<div class="container-fluid text-center">
    <div class="text-center py-5 d-flex justify-content-between">
        <img src="" class="img-fluid" width="179"/>
        <img src="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/pepo-logo.png" class="img-fluid" width="179"/>
        <a class="btn btn-secondary jLogout">Log Out</a>
    </div>
    <div class="row">
        <div class="container-fluid py-5 pt-6" style="background-color: #2A293B">
            <h5 style="color: #ffffff" class="mb-3">Which email address should we use to notify you of important activity?</h5>
            <form class="mx-auto col-5">
                <div class="input-group mb-2">
                    <input type="email" class="form-control home-subscribe-form py-2" autocomplete="off" name="email" id="home-subscribe-form-email" placeholder="thahir@pepo.com">
                    <button class="btn btn-primary input-group-append px-3 align-items-center d-none d-md-block text-uppercase home-subscribe-form-submit" type="submit" title="TRY NOW" data-jsonp="/ost-wallet/testnet/test-invite">
                        Confirm
                    </button>
                </div>
                <div class="error email-error">My Name is error</div>
                <button class="btn btn-primary input-group-append px-3 py-2 align-items-center d-md-none my-3 mb-5 mx-auto rounded text-uppercase home-subscribe-form-submit"
                        type="submit" title="Confirm">
                    Confirm
                </button>
            </form>
        </div>
        <div class="container">
            <div class="col-12">
                <h2 class="mt-4">Thanks @ImThahir for requesting access!</h2>
                <h3>You're #4,415 on the waiting list</h3>
                <h3>We'll let you know as soon as your access is approved</h3>
            </div>
        </div>
        <div class="container">
            <div class="col-10 mx-auto">
                <div class="card-group mx-auto mt-6">
                    <div class="card">
                        <div class="card-body d-flex flex-column justify-content-between">
                            <h4>Share and Earn 5%</h4>
                            <div class="d-flex">
                                <input type="email" class="form-control home-subscribe-form py-2" autocomplete="off" name="email" id="home-subscribe-form-email" placeholder="Enter email for OST Wallet">
                                <button class="btn btn-primary input-group-append px-3 align-items-center d-none d-md-block text-uppercase home-subscribe-form-submit" type="submit" title="TRY NOW" data-jsonp="/ost-wallet/testnet/test-invite">
                                    Copy
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body d-flex flex-column justify-content-between">
                            <h4>Are You a Creator ?</h4>
                            <button class="btn btn-primary w-50 mx-auto mt-6" type="submit" title="TRY NOW">
                                Apply Now
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>