<li class="feedContainerInner col-6 col-md-4 col-lg-3 feedList">
    <span class="content">
        <img src="<%= videoCoverImage %>" class="img-fluid" style="object-fit: cover"/>
        <span class="feed-video-play-icon play-icon ppBtn"></span>
        <span class="details">
            <span class="desc"><%= description %></span>
            <span class="d-flex flex-row justify-content-between">
                <span class="desc">@<%= userName %></span>
                <span class="desc"><%= amountRaised %></span>
            </span>
        </span>
    </span>
</li>
