<div class="<%= actionButtonsPos %> align-items-end d-flex justify-content-center">
    <ul class="list-unstyled m-0 p-0 text-center video-action-list mb-3 mb-md-4">
        <li class="downloadApp">
            <span class="countTxt"><%= formattedEntityData.tokens_raised %></span>
            <svg width="40" height="40">
                <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#video-pepo-icon"></use>
                </switch>
            </svg>
        </li>
        <li class="downloadApp">
            <span class="countTxt marNeg"><%= formattedEntityData.replies_count %></span>
            <img src="https://d3attjoi5jlede.cloudfront.net/images/pepo-web/web-video-replies-icon.png" class="img-fluid d-inline-block d-md-none" alt="Replies icon" width="44"/>
            <svg width="21" height="19" class="d-none d-md-inline-block">
                <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#video-replies-icon"></use>
                </switch>
            </svg>
        </li>
        <li class="reportVideo">
            <img src="https://d3attjoi5jlede.cloudfront.net/images/pepo-web/web-video-report-icon.png" class="img-fluid d-inline-block d-md-none" alt="Report icon" width="33"/>
            <svg width="17" height="21" class="d-none d-md-inline-block">
                <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#video-report-icon"></use>
                </switch>
            </svg>
        </li>
        <li class="copyToClipboard" data-share-url="<%= formattedEntityData.share_url %>">
            <img src="https://d3attjoi5jlede.cloudfront.net/images/pepo-web/web-video-copy-icon.png" class="img-fluid d-inline-block d-md-none" alt="Copy icon" width="35"/>
            <svg width="18" height="20" class="d-none d-md-inline-block">
                <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#video-copy-icon"></use>
                </switch>
            </svg>
        </li>
    </ul>
</div>
