<div class="<%= actionButtonsPos %> align-items-end d-flex justify-content-center">
    <ul class="list-unstyled m-0 p-0 text-center video-action-list mb-3 mb-md-4">
        <li class="downloadApp">
            <span class="countTxt"><%= formattedEntityData.tokens_raised %></span>
            <svg width="40" height="40">
                <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#video-pepo-icon"></use>
                </switch>
            </svg>
        </li>
        <li class="downloadApp">
            <span class="countTxt"><%= formattedEntityData.replies_count %></span>
            <svg width="44" height="41" class="d-inline-block d-md-none">
                <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#video-replies-icon-mobile"></use>
                </switch>
            </svg>
            <svg width="21" height="19" class="d-none d-md-inline-block">
                <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#video-replies-icon"></use>
                </switch>
            </svg>
        </li>
        <li class="reportVideo">
            <svg width="33" height="38" class="d-inline-block d-md-none">
                <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#video-report-icon-mobile"></use>
                </switch>
            </svg>
            <svg width="17" height="21" class="d-none d-md-inline-block">
                <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#video-report-icon"></use>
                </switch>
            </svg>
        </li>
        <li class="copyToClipboard" data-share-url="<%= formattedEntityData.share_url %>">
            <svg width="35" height="37" class="d-inline-block d-md-none">
                <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#video-copy-icon-mobile"></use>
                </switch>
            </svg>
            <svg width="18" height="20" class="d-none d-md-inline-block">
                <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#video-copy-icon"></use>
                </switch>
            </svg>
        </li>
    </ul>
</div>
