<div class="<%= actionButtonsPos %> align-items-end d-flex justify-content-center">
    <ul class="list-unstyled m-0 p-0 text-center video-action-list mb-3 mb-md-4">
        <li class="downloadAppSingleCTA">
            <span class="countTxt"><%= tokens_raised %></span>
            <svg width="40" height="40" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <linearGradient x1="100%" y1="100%" x2="0%" y2="0%" id="a">
                        <stop stop-color="#F56" offset="0%"/>
                        <stop stop-color="#FF7499" offset="100%"/>
                    </linearGradient>
                </defs>
                <g fill="none" fill-rule="evenodd">
                    <path d="M20 0a19.952 19.952 0 017.654 1.522 19.952 19.952 0 016.488 4.336 19.952 19.952 0 014.336 6.488A19.952 19.952 0 0140 20a19.952 19.952 0 01-1.522 7.654 19.952 19.952 0 01-4.336 6.488 19.952 19.952 0 01-6.488 4.336A19.952 19.952 0 0120 40a19.952 19.952 0 01-7.654-1.522 19.952 19.952 0 01-6.488-4.336 19.952 19.952 0 01-4.336-6.488A19.952 19.952 0 010 20a19.952 19.952 0 011.522-7.654 19.952 19.952 0 014.336-6.488 19.952 19.952 0 016.488-4.336A19.952 19.952 0 0120 0z" fill="#f56"/>
                    <path d="M17.689 29.811a5.142 5.142 0 01-5.095-5.094V11.84h12.878a5.118 5.118 0 010 10.235h-4.529v-6.32h1.84v4.48h2.689a3.278 3.278 0 100-6.556H14.434v11.038a3.255 3.255 0 006.51 0v-.566h1.839v.566a5.142 5.142 0 01-5.094 5.094z" fill="#FFF"/>
                </g>
            </svg>
        </li>
        <li class="downloadAppSingleCTA">
            <span class="countTxt"><%= replies_count %></span>
            <svg width="21" height="19" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.5 1.025c2.642 0 5.042.907 6.779 2.386 1.68 1.43 2.738 3.4 2.738 5.583 0 2.184-1.058 4.153-2.738 5.584-1.737 1.479-4.137 2.386-6.78 2.386-1.184 0-2.345-.183-3.448-.542l-3.256.714.331-2.23C2.146 13.41.983 11.248.983 8.995c0-2.183 1.058-4.153 2.738-5.583C5.458 1.932 7.858 1.025 10.5 1.025z" stroke-width="1.8" fill-rule="nonzero" fill="#FFF" stroke="#F56"/>
            </svg>
        </li>
        <li class="reportVideo">
            <svg width="17" height="21" xmlns="http://www.w3.org/2000/svg">
                <g fill="none" fill-rule="evenodd">
                    <path d="M5.683.176A10.511 10.511 0 00.522 1.687a.724.724 0 00-.355.606v17.75c0 .397.339.719.757.719.419 0 .758-.322.758-.718v-8.696c.941-.52 4.046-1.944 7.78-.412 2.231.916 3.93 1.102 5.099 1.04 1.17-.06 1.886-.418 1.886-.418a.728.728 0 00.386-.622v-8.65a.725.725 0 00-.368-.622.81.81 0 00-.752-.014s-.304.181-1.223.224c-.92.043-2.377-.095-4.435-.913A11.124 11.124 0 005.683.176z" fill="#F56" fill-rule="nonzero"/>
                    <path d="M5.777 1.597c.2-.004.4-.001.6.008 1.04.05 2.082.28 3.094.68 2.238.89 3.935 1.08 5.097 1.026.318-.015.505-.075.75-.12v7.237a4.147 4.147 0 01-.836.12c-.919.047-2.375-.09-4.42-.929-3.596-1.475-6.747-.564-8.38.143v-7.05a8.946 8.946 0 014.095-1.115z" fill="#FFF"/>
                </g>
            </svg>
        </li>
        <li class="copyToClipboard" data-share-url="<%= share_url %>">
            <svg width="18" height="20" xmlns="http://www.w3.org/2000/svg">
                <g fill="none" fill-rule="evenodd">
                    <path d="M-3-2h24v24H-3z"/>
                    <path d="M14 4h1a3 3 0 013 3v10a3 3 0 01-3 3H7a3 3 0 01-3-3v-1H3a3 3 0 01-3-3V3a3 3 0 013-3h8a3 3 0 013 3v1z" fill="#F56" fill-rule="nonzero"/>
                    <path d="M12.6 4v-.6a2 2 0 00-2-2H3.4a2 2 0 00-2 2v9.2a2 2 0 002 2H4V7a3 3 0 013-3h5.6z" fill="#FFF"/>
                    <path d="M7.4 5.4a2 2 0 00-2 2v9.2a2 2 0 002 2h7.2a2 2 0 002-2V7.4a2 2 0 00-2-2H7.4z" fill="#FFF"/>
                </g>
            </svg>
        </li>
    </ul>
</div>
