<!--<div>Hello from video page of <%#= JSON.stringify(user_videos[0].payload.video_id) %></div>-->
<div class="container-fluid videoContainer">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-11 col-lg-9 col-xl-6 innerContainer">
            <div class="row h-100">
                <div class="col-md-5 col-lg-6 innerLeft py-3">
                    <div class="media align-items-center">
                        <img class="mr-2 profileImage" src="" alt="">
                        <div class="media-body">
                            <h6 class="m-0 user-name">Media heading</h6>
                            <span class="user-handle" style="font-size: 14px">Cras sit amet</span>
                        </div>
                    </div>
                    <p class="mt-3 mb-0" style="font-size: 15px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <a class="mt-2 d-inline-block" href="" style="font-size: 15px; color: #ff5566">www.facebook.com/skjahsjdhvia</a>
                    <ul class="mt-3 list-unstyled">
                        <li><a href="">ETHDENVER 2020</a></li>
                        <li><a href="">ETHDENVER 2020</a></li>
                        <li><a href="">ETHDENVER 2020</a></li>
                        <li><a href="">ETHDENVER 2020</a></li>
                        <li><a href="">ETHDENVER 2020</a></li>
                        <li><a href="">ETHDENVER 2020</a></li>
                        <li><a href="">ETHDENVER 2020</a></li>
                        <li><a href="">ETHDENVER 2020</a></li>
                        <li><a href="">ETHDENVER 2020</a></li>
                        <li><a href="">ETHDENVER 2020</a></li>
                        <li><a href="">ETHDENVER 2020</a></li>
                        <li><a href="">ETHDENVER 2020</a></li>
                        <li><a href="">ETHDENVER 2020</a></li>
                    </ul>
                </div>
                <div class="col-md-7 col-lg-6">
                    <div class="row h-100">
                        <div class="col-md-10 col-10"></div>
                        <div class="col-md-2 col-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>