 <div data-delay="4000" role="alert"  class="toast toast-report-success fade">
    <div class="toast-text" aria-hidden="true">
        Video content reported
    </div>
</div>

<div data-delay="4000" role="alert"  class="toast toast-report-error fade">
    <div class="toast-text" aria-hidden="true">
        Something went wrong. Please try again.
    </div>
</div>


<div data-delay="4000" role="alert"  class="toast toast-copied-to-clipboard fade">
    <div class="toast-text" aria-hidden="true">
        Link copied to clipboard
    </div>
</div>

 <div data-delay="4000" role="alert"  class="toast toast-copied-to-clipboard-failed fade">
     <div class="toast-text" aria-hidden="true">
         Failed to copy link
     </div>
 </div>



