<section id="downloadModalSingleCTA" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content" style="padding: 35px 0; border-radius: 5px">
            <div class="mb-2 ml-3">
                <h5 style="color: #ff5566;font-weight: 600">Open Pepo app</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color: red; font-size: 20px">X</span>
                </button>
            </div>
            <p class="ml-3" style="color:rgb(39, 39, 39)">Take me to Pepo app</p>
            <div class="modal-footer d-flex flex-column flex-md-row mx-auto">
                <a href="<%= firebase_video_url  %>" target="_blank" title="Download Pepo App" class="d-inline-block open-pepo-app" rel="noopener noreferrer nofollow">
                    <span  style="color: #fff;">Open The Pepo App</span>
                </a>
            </div>
        </div>
    </div>
</section>
