<section id="downloadModalSingleCTA" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content" style="padding: 35px 0; border-radius: 5px">
            <div class="modal-header">
                <span class="pepo-logo-content mb-5"></span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="modal-close-icon"></span>
                </button>
            </div>
            <div class="modal-footer">
                <a href="<%= formattedEntityData.firebase_video_url  %>" style="color: #fff;" target="_blank" title="Open in App" class="d-inline-block open-pepo-app py-2 px-4" rel="noopener noreferrer nofollow">Open in App</a>
            </div>
        </div>
    </div>
</section>
