<section id="downloadModalSingleCTA" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content" style="padding: 35px 0; border-radius: 5px">
            <div class="modal-header">
                <h3 class="modal-title" style="color: #ff5566;font-weight: 600">The Pepo App</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color: red; font-size: 20px">X</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <p class="ml-3" style="color:rgb(39, 39, 39);font-size: 18px">Watch this video in the Pepo App</p>
            </div>
            <div class="modal-footer d-flex flex-column flex-md-row mx-auto">
                <a href="<%= firebase_video_url  %>" style="color: #fff;" target="_blank" title="Download Pepo App" class="d-inline-block open-pepo-app py-2 px-4" rel="noopener noreferrer nofollow">Open in app</a>
            </div>
        </div>
    </div>
</section>
