// Import functions as variables depend on functions
@import "../../plugins/bootstrap/scss/functions";

// Import theme variables
@import "../../web/Starboy/variables";

html, body{
  @media only screen and (max-width: 767px){
    overflow-y: hidden;
  }
  background-color: #f2f2f2;
}

.videoContainer{
  background-color: #f9f9f9;
  max-height: calc(100% - 58px);
  height: 100%;

  .innerContainer{
    height: 85%;
    overflow: hidden;
    border-radius: 0 50px;
    background-color: $white;
    box-shadow: 0 0 15px -2px rgba(0, 0, 0, 0.1);

    .innerLeft{

      .profileImage{
        left: 0;
        width: 50px;
        height: 50px;
        position: absolute;
        border-radius: 50%;
      }

      .profile-media-body{
        display: flex;
        margin-left: 10px;
        flex-direction: column;
        align-items: flex-start;
        width: calc(100% - 50px);
      }

      .user-name{
        color: $valhalla;
        overflow: hidden;
        white-space: nowrap;
        display: block;
        font-weight: 600;
        text-overflow: ellipsis;
      }

      .user-handle{
        font-size: 12px;
        font-weight: 300;
        color: rgba(42, 41, 59, 0.5);
      }

      .desc{
        font-size: 14px;
        font-weight: 300;
        margin-top: 15px;
        color: rgba(42, 41, 59, 0.75);
      }

      .desc-link{
        display: block;
        font-size: 14px;
        margin-top: 10px;
        overflow: hidden;
        font-weight: 500;
        line-height: 100%;
        white-space: nowrap;
        color: $wildWatermelon;
        text-overflow: ellipsis;
        font-family: AvenirNext-Medium;
        &:hover, &:focus{
          text-decoration: none;
        }
      }

    }
  }

  .video-action-list{
    > li {
      font-size: 0;
      cursor: pointer;
      &:not(:last-child){
        @media only screen and (min-width: 768px){
          margin-bottom: 20px;
        }
        margin-bottom: 10px;
      }
    }
  }

}

.ppBtnUi{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  //z-index: 3;
  position: absolute;
  height: 100%;
}

.countTxt{
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 3px;
  line-height: 100%;
}

.toast {
  top: 78px;
  left: 50%;
  z-index:2;
  border-radius: 5px;
  position: absolute;
  background-color: $white;
  transform: translateX(-50%);
  box-shadow: 0 0 15px -2px rgba(0, 0, 0, 0.1);
  pointer-events: none;
  .toast-text{
    font-size: 16px;
    color: $valhalla;
    padding: 10px 12px;
    text-align: center;
  }
}

.actionButtonsWeb{
  width: 58px;
  color: $valhalla;
}

.actionButtonsMobile{
  color: $white;
  width: 58px;
}

.channel-list{
  &.mobile{
    overflow: auto;
    white-space:nowrap;
    width: calc(100vw - 80px);
  }
  > li {
    display: inline-block;
    margin: 0 5px 12px 0;
    a {
      color: $white;
      border: none;
      font-size: 12px;
      font-weight: 500;
      padding: 3px 8px;
      border-radius: 12px 0;
      display: inline-block;
      font-family: AvenirNext-Medium;
      background: linear-gradient(-243.43494882292202deg, rgb(255, 85, 102) 0%, rgb(203, 86, 151) 54%, rgb(255, 116, 153) 100%);
      @media only screen and (min-width: 768px) {
        background: $white;
        color: $wildWatermelon;
        border: 1px solid $wildWatermelon;
      }
      &:hover {
        text-decoration: none;
      }
      &:focus {
        outline: none;
      }
    }
  }
}

.channel-list::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}

.modalLinks{
  color: $wildWatermelon;
  font-size: 18px;
  &:hover{
    color: $wildWatermelon;
    text-decoration: none;
  }
}

.desc{
  &:hover, &:focus{
    text-decoration: none;
  }
  &.mobile{
    width: 100vw;
    padding: 8px 10px 10px 15px;
    border-radius: 20px 20px 0 0;
    background-color: rgba(0, 0, 0, 0.4);
  }
  &.mobile-user-name{
    color: $white;
    font-size: 14px;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: AvenirNext-Medium;
  }
  &.mobile-link{
    color: $white;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
    font-size: 14px;
    line-height: 100%;
    font-family: AvenirNext-Medium;
  }
  &.mobile-text{
    color: $white;
    font-size: 14px;
    margin-top: 5px;
    font-weight: 300;
    line-height: initial;
  }
}

.timerCta{
  font-size: 12px;
  font-weight: 300;
  margin-left: 3px;
  &.web{
    color: #b8b8b8;
  }
  &.mobile{
    color: #FFFFFF;
    font-family: AvenirNext-UltraLight;
  }
}

#downloadModalSingleCTA {
  .open-pepo-app{
    background-color: $wildWatermelon;
    background: linear-gradient(90deg, $ticklePink 20%, $wildWatermelon 100%);
    color: $white;
    border-radius: 3px;
    padding: 5px 12px;
  }
}

