// Import functions as variables depend on functions
@import "../../plugins/bootstrap/scss/functions";

// Import theme variables
@import "../../web/Starboy/variables";

.videoContainer{
  background-color: #f9f9f9;
  height: calc(100vh - 63px);
  @media only screen and (min-width: 768px){
    height: calc(100vh - 58px);
  }


  .innerContainer{
    height: 85%;
    overflow: hidden;
    border-radius: 0 50px;
    background-color: $white;
    box-shadow: 0 0 15px -2px rgba(0, 0, 0, 0.1);

    .innerLeft{

      .profileImage{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $wildWatermelon;
      }

      .user-name{
        color: $valhalla;
        font-weight: 600;
      }

      .user-handle{
        font-size: 15px;
        color: rgba(42, 41, 59, 0.5);
      }

      .desc{
        color: rgba(42, 41, 59, 0.75);
      }

      .desc-link{
        font-size: 15px;
        color: $wildWatermelon;
      }

      ul > li{
        display: inline-block;
        margin: 0 5px 12px 0;
        a{
          border: 1px solid $wildWatermelon;
          border-radius: 16px 0;
          color: $wildWatermelon;
          font-size: 12px;
          display: inline-block;
          padding: 3px 12px;
          &:hover{
            text-decoration: none;
          }
          &:focus{
            outline: none;
          }
        }

      }

    }
  }

  .video-action-list{
    > li {
      font-size: 0;
      cursor: pointer;
      &:not(:last-child){
        margin-bottom: 20px;
      }
    }
  }
}

.ppBtnUi{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  position: absolute;
  height: 100%;
}

.countTxt{
  display: block;
  font-size: 14px;
  color: $valhalla;
  font-weight: 600;
  margin-bottom: 3px;
}

.toast {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 20px;
  z-index:2;
  border-radius: 4px;
  box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.1);
}

.modalLinks{
  color: $wildWatermelon;
  font-size: 18px;
  &:hover{
    color: $wildWatermelon;
    text-decoration: none;
  }
}
