<%
  let userName = ""; 
  if (typeof user_name !== 'undefined') { 
    userName = " " + user_name;
  }
%>


<div class="container-fluid text-center py-6">
    <img src="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/pepo-logo.png" alt="Pepo Logo" class="img-fluid mb-5" width="179"/>
    <h3 class="mb-3 text-center">Contact Us</h3>
    <p class="m-0">Hello<%= userName %>, What would you like to learn more about? Our team is happy to help! </p>
    <img src="https://d3attjoi5jlede.cloudfront.net/images/web/pepo-support.png" alt="Pepo Support" class="img-fluid my-5" width="150"/>
    <button class="j-contact-us btn btn-primary w-100 btn-gradient text-capitalize mb-2" type="submit">Contact Us</button>
</div>
