.meeting-iframe-wrapper{
  width: 100%;
  height: calc(100% - 118px);

  .meeting-iframe{
    display: none;
    width: 100%;
    height: 100%;
    border: none;
  }
  .meeting-error{
    font-size: 20px;
    text-transform: capitalize;
  }
}

.meeting-subnav{
  padding: 10px 0;
  background: #f9f9f9;
}

.community{
  font-size: 1rem;
  span{
    font-family: AvenirNext-Medium;
  }
}

