// Import functions as variables depend on functions
@import "../../plugins/bootstrap/scss/functions";

// Import theme variables
@import "../Starboy/variables";

.jGoLiveBtn {
  display:none !important;
}
.meeting-iframe-wrapper{
  width: 100%;
  height: calc(100% - 178px);
  @media screen and (min-width: 768px){
    height: calc(100% - 114px);
  }

  .meeting-iframe{
    display: none;
    width: 100%;
    height: 100%;
    border: none;
  }
  .meeting-error{
    text-align: center;
    .error-text{
      font-size: 20px;
      text-transform: capitalize;
      margin-bottom: 10px;
    }
  }
}

.meeting-subnav{
  background: #f9f9f9;
  ul{
    li{
      a{
        color: #212529;
      }
    }
    @media screen and (min-width: 768px){
      width: 50%;
    }
  }

  .first-list {
    @media screen and (max-width: 768px){
      width: 100%;
    }
  }
}

.community{
  font-size: 1rem;
  span{
    font-family: AvenirNext-Medium;
  }
}

.copyToClipboard, .jMeetingTips{
  cursor: pointer;
}

.jMeetingTips{
  a{
    color: $gray-900;
    &:hover, &:focus{
      text-decoration: none;
    }
  }
}

.toast {
  top: 50px;
  @media only screen and (min-width: 768px){
    top: 78px;
  }
  left: 50%;
  //z-index: 1051;
  border-radius: 5px;
  position: absolute;
  background-color: $white;
  transform: translateX(-50%);
  box-shadow: 0 0 15px -2px rgba(0, 0, 0, 0.1);
  pointer-events: none;
  .toast-text{
    font-size: 16px;
    color: $valhalla;
    padding: 10px 12px;
    text-align: center;
  }
}

.toast.show {
  body.modal-open & {
    z-index: 1051;
  }
}

.log-in-tabs{
  .nav-link{
    border: none;
    color: $valhalla;
    //padding: 0.5rem 1.5rem;
    &.active{
      color: #ff5566;
      border-bottom: 2px solid #ff5566!important;
    }
  }
}

