<html>
<head>
  <title>The page you were looking for doesn't exist (500)</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <style>
    html, body{
      height: 100%;
    }
    body{
      font-family: AvenirNext-Regular,Source Sans Pro,sans-serif;
      margin: 0;
      padding: 0;
      text-align: center;
    }
    .errorPageContent{
      font-weight: 300;
      height: 100%;
      display: table;
      width: 100%;
    }
    .errorPageContentInner{
      display: table-cell;
      vertical-align: middle;
    }
    @media only screen and (max-width: 767px) {
      img{
        width: 80%;
      }
    }
    @media only screen and (min-width: 768px) {
      img{
        width: 50%;
      }
    }
    .desc{
      letter-spacing: 0.4px;
      color: #435353;
      font-size: 20px;
      font-weight: 300;
      margin: 50px 0 30px;
    }
    .homeBtn{
      background-color: #e4b030;
      display: inline-block;
      border-radius: 3px;
      padding: 15px 40px;
      color: #fff;
      font-weight: 300;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-decoration: none;
    }
    .homeBtn{
      border: 1.5px solid #FF5566;
      color: #FFFFFF;
      background-color: #FF5566;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
    }
    .homeBtn:hover{
      color: #FF5566;
      border-color: #FF5566;
      background-color: #FFFFFF;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
    }
  </style>
</head>

<body>
<div class="errorPageContent">
  <div class="errorPageContentInner">
    <div>
      <img src="https://d3attjoi5jlede.cloudfront.net/images/web/pepo-500.png" alt="500 Error Image">
    </div>
    <div class="desc">It looks like you are lost!</div>
    <a href="/" class="homeBtn" title="Lets Get You Home">lets get you home</a>
  </div>
</div>


</body>
</html>