<div class="container-fluid feedContainer">
    <div class="row">
        <div class="col-12 col-md-11 col-lg-10 p-0 mx-auto">
            <div class="container p-0">
                <ul class="mx-auto list-unstyled d-flex flex-wrap feedUnordered my-5">

                    <li class="feedList col-6 col-md-3">
                        <img src="https://p16.muscdn.com/obj/tos-maliva-p-0068/955818aad8094dc806ec60f458d3f1fa" class="img-fluid"/>
                        <span class="feed-video-play-icon play-icon ppBtn"></span>
                        <div class="details">
                            <span class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elitsed</span>
                            <div class="d-flex flex-row justify-content-between">
                                <span class="desc">@Thahir</span>
                                <span class="desc">777</span>
                            </div>
                        </div>
                    </li>

                    <li class="feedList col-6 col-md-3">
                        <img src="https://p16.muscdn.com/obj/tos-maliva-p-0068/955818aad8094dc806ec60f458d3f1fa" class="img-fluid"/>
                        <span class="feed-video-play-icon play-icon"></span>
                        <div class="details">
                            <span class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elitsed</span>
                            <div class="d-flex flex-row justify-content-between">
                                <span class="desc">@Thahir</span>
                                <span class="desc">777</span>
                            </div>
                        </div>
                    </li>

                    <li class="feedList col-6 col-md-3">
                        <img src="https://p16.muscdn.com/obj/tos-maliva-p-0068/955818aad8094dc806ec60f458d3f1fa" class="img-fluid"/>
                        <span class="feed-video-play-icon play-icon"></span>
                        <div class="details">
                            <span class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elitsed</span>
                            <div class="d-flex flex-row justify-content-between">
                                <span class="desc">@Thahir</span>
                                <span class="desc">777</span>
                            </div>
                        </div>
                    </li>

                    <li class="feedList col-6 col-md-3">
                        <img src="https://p16.muscdn.com/obj/tos-maliva-p-0068/955818aad8094dc806ec60f458d3f1fa" class="img-fluid"/>
                        <span class="feed-video-play-icon play-icon"></span>
                        <div class="details">
                            <span class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elitsed</span>
                            <div class="d-flex flex-row justify-content-between">
                                <span class="desc">@Thahir</span>
                                <span class="desc">777</span>
                            </div>
                        </div>
                    </li>

                    <li class="feedList col-6 col-md-3">
                        <img src="https://p16.muscdn.com/obj/tos-maliva-p-0068/955818aad8094dc806ec60f458d3f1fa" class="img-fluid"/>
                        <span class="feed-video-play-icon play-icon"></span>
                        <div class="details">
                            <span class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elitsed</span>
                            <div class="d-flex flex-row justify-content-between">
                                <span class="desc">@Thahir</span>
                                <span class="desc">777</span>
                            </div>
                        </div>
                    </li>

                    <li class="feedList col-6 col-md-3">
                        <img src="https://p16.muscdn.com/obj/tos-maliva-p-0068/955818aad8094dc806ec60f458d3f1fa" class="img-fluid"/>
                        <span class="feed-video-play-icon play-icon"></span>
                        <div class="details">
                            <span class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elitsed</span>
                            <div class="d-flex flex-row justify-content-between">
                                <span class="desc">@Thahir</span>
                                <span class="desc">777</span>
                            </div>
                        </div>
                    </li>

                    <li class="feedList col-6 col-md-3">
                        <img src="https://p16.muscdn.com/obj/tos-maliva-p-0068/955818aad8094dc806ec60f458d3f1fa" class="img-fluid"/>
                        <span class="feed-video-play-icon play-icon"></span>
                        <div class="details">
                            <span class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elitsed</span>
                            <div class="d-flex flex-row justify-content-between">
                                <span class="desc">@Thahir</span>
                                <span class="desc">777</span>
                            </div>
                        </div>
                    </li>

                    <li class="feedList col-6 col-md-3">
                        <img src="https://p16.muscdn.com/obj/tos-maliva-p-0068/955818aad8094dc806ec60f458d3f1fa" class="img-fluid"/>
                        <span class="feed-video-play-icon play-icon"></span>
                        <div class="details">
                            <span class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elitsed</span>
                            <div class="d-flex flex-row justify-content-between">
                                <span class="desc">@Thahir</span>
                                <span class="desc">777</span>
                            </div>
                        </div>
                    </li>

                    <li class="feedList col-6 col-md-3">
                        <img src="https://p16.muscdn.com/obj/tos-maliva-p-0068/955818aad8094dc806ec60f458d3f1fa" class="img-fluid"/>
                        <span class="feed-video-play-icon play-icon"></span>
                        <div class="details">
                            <span class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elitsed</span>
                            <div class="d-flex flex-row justify-content-between">
                                <span class="desc">@Thahir</span>
                                <span class="desc">777</span>
                            </div>
                        </div>
                    </li>

                    <li class="feedList col-6 col-md-3">
                        <img src="https://p16.muscdn.com/obj/tos-maliva-p-0068/955818aad8094dc806ec60f458d3f1fa" class="img-fluid"/>
                        <span class="feed-video-play-icon play-icon"></span>
                        <div class="details">
                            <span class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elitsed</span>
                            <div class="d-flex flex-row justify-content-between">
                                <span class="desc">@Thahir</span>
                                <span class="desc">777</span>
                            </div>
                        </div>
                    </li>

                    <li class="feedList col-6 col-md-3">
                        <img src="https://p16.muscdn.com/obj/tos-maliva-p-0068/955818aad8094dc806ec60f458d3f1fa" class="img-fluid"/>
                        <span class="feed-video-play-icon play-icon"></span>
                        <div class="details">
                            <span class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elitsed</span>
                            <div class="d-flex flex-row justify-content-between">
                                <span class="desc">@Thahir</span>
                                <span class="desc">777</span>
                            </div>
                        </div>
                    </li>

                    <li class="feedList col-6 col-md-3">
                        <img src="https://p16.muscdn.com/obj/tos-maliva-p-0068/955818aad8094dc806ec60f458d3f1fa" class="img-fluid"/>
                        <span class="feed-video-play-icon play-icon"></span>
                        <div class="details">
                            <span class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elitsed</span>
                            <div class="d-flex flex-row justify-content-between">
                                <span class="desc">@Thahir</span>
                                <span class="desc">777</span>
                            </div>
                        </div>
                    </li>

                    <li class="feedList col-6 col-md-3">
                        <img src="https://p16.muscdn.com/obj/tos-maliva-p-0068/955818aad8094dc806ec60f458d3f1fa" class="img-fluid"/>
                        <span class="feed-video-play-icon play-icon"></span>
                        <div class="details">
                            <span class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elitsed</span>
                            <div class="d-flex flex-row justify-content-between">
                                <span class="desc">@Thahir</span>
                                <span class="desc">777</span>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>