<div class="container-fluid feedContainer">
    <div class="row">
        <div class="col-11 col-lg-10 p-0 mx-auto">
            <div class="container p-0">
                <ul class="mx-auto list-unstyled d-flex flex-wrap feedUnordered my-5">

                    <li class="feedList feed-video-container">
                        <!--<video class="feedVideo" playsinline loop-->
                               <!--style="width: 100%; height: 100%; object-fit: cover"-->
                               <!--poster=""-->
                        <!--&gt;-->
                            <!--<source src="/gori.mp4" type="video/mp4">-->
                        <!--</video>-->
                        <img src="https://p16.muscdn.com/obj/tos-maliva-p-0068/bc68c779b54310ec5f9021060d706688" class="img-fluid"/>
                        <span class="feed-video-play-icon play-icon ppBtn"></span>
                        <div class="details">
                            <span class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elitsed</span>
                            <div class="d-flex flex-row justify-content-between">
                                <span class="desc">@Thahir</span>
                                <span class="desc">777</span>
                            </div>
                        </div>
                    </li>

                    <li class="feedList">
                        <img src="https://p16.muscdn.com/obj/tos-maliva-p-0068/bc68c779b54310ec5f9021060d706688" class="img-fluid"/>
                        <span class="feed-video-play-icon play-icon"></span>
                        <div class="details">
                            <span class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elitsed</span>
                            <div class="d-flex flex-row justify-content-between">
                                <span class="desc">@Thahir</span>
                                <span class="desc">777</span>
                            </div>
                        </div>
                    </li>

                    <li class="feedList">
                        <img src="https://p16.muscdn.com/obj/tos-maliva-p-0068/bc68c779b54310ec5f9021060d706688" class="img-fluid"/>
                        <span class="feed-video-play-icon play-icon"></span>
                        <div class="details">
                            <span class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elitsed</span>
                            <div class="d-flex flex-row justify-content-between">
                                <span class="desc">@Thahir</span>
                                <span class="desc">777</span>
                            </div>
                        </div>
                    </li>

                    <li class="feedList">
                        <img src="https://p16.muscdn.com/obj/tos-maliva-p-0068/bc68c779b54310ec5f9021060d706688" class="img-fluid"/>
                        <span class="feed-video-play-icon play-icon"></span>
                        <div class="details">
                            <span class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elitsed</span>
                            <div class="d-flex flex-row justify-content-between">
                                <span class="desc">@Thahir</span>
                                <span class="desc">777</span>
                            </div>
                        </div>
                    </li>

                    <li class="feedList">
                        <img src="https://p16.muscdn.com/obj/tos-maliva-p-0068/bc68c779b54310ec5f9021060d706688" class="img-fluid"/>
                        <span class="feed-video-play-icon play-icon"></span>
                        <div class="details">
                            <span class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elitsed</span>
                            <div class="d-flex flex-row justify-content-between">
                                <span class="desc">@Thahir</span>
                                <span class="desc">777</span>
                            </div>
                        </div>
                    </li>

                    <li class="feedList">
                        <img src="https://p16.muscdn.com/obj/tos-maliva-p-0068/bc68c779b54310ec5f9021060d706688" class="img-fluid"/>
                        <span class="feed-video-play-icon play-icon"></span>
                        <div class="details">
                            <span class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elitsed</span>
                            <div class="d-flex flex-row justify-content-between">
                                <span class="desc">@Thahir</span>
                                <span class="desc">777</span>
                            </div>
                        </div>
                    </li>

                    <li class="feedList">
                        <img src="https://p16.muscdn.com/obj/tos-maliva-p-0068/bc68c779b54310ec5f9021060d706688" class="img-fluid"/>
                        <span class="feed-video-play-icon play-icon"></span>
                        <div class="details">
                            <span class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elitsed</span>
                            <div class="d-flex flex-row justify-content-between">
                                <span class="desc">@Thahir</span>
                                <span class="desc">777</span>
                            </div>
                        </div>
                    </li>

                    <li class="feedList">
                        <img src="https://p16.muscdn.com/obj/tos-maliva-p-0068/bc68c779b54310ec5f9021060d706688" class="img-fluid"/>
                        <span class="feed-video-play-icon play-icon"></span>
                        <div class="details">
                            <span class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elitsed</span>
                            <div class="d-flex flex-row justify-content-between">
                                <span class="desc">@Thahir</span>
                                <span class="desc">777</span>
                            </div>
                        </div>
                    </li>

                    <li class="feedList">
                        <img src="https://p16.muscdn.com/obj/tos-maliva-p-0068/bc68c779b54310ec5f9021060d706688" class="img-fluid"/>
                        <span class="feed-video-play-icon play-icon"></span>
                        <div class="details">
                            <span class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elitsed</span>
                            <div class="d-flex flex-row justify-content-between">
                                <span class="desc">@Thahir</span>
                                <span class="desc">777</span>
                            </div>
                        </div>
                    </li>

                    <li class="feedList">
                        <img src="https://p16.muscdn.com/obj/tos-maliva-p-0068/bc68c779b54310ec5f9021060d706688" class="img-fluid"/>
                        <span class="feed-video-play-icon play-icon"></span>
                        <div class="details">
                            <span class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elitsed</span>
                            <div class="d-flex flex-row justify-content-between">
                                <span class="desc">@Thahir</span>
                                <span class="desc">777</span>
                            </div>
                        </div>
                    </li>

                    <li class="feedList">
                        <img src="https://p16.muscdn.com/obj/tos-maliva-p-0068/bc68c779b54310ec5f9021060d706688" class="img-fluid"/>
                        <span class="feed-video-play-icon play-icon"></span>
                        <div class="details">
                            <span class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elitsed</span>
                            <div class="d-flex flex-row justify-content-between">
                                <span class="desc">@Thahir</span>
                                <span class="desc">777</span>
                            </div>
                        </div>
                    </li>

                    <li class="feedList">
                        <img src="https://p16.muscdn.com/obj/tos-maliva-p-0068/bc68c779b54310ec5f9021060d706688" class="img-fluid"/>
                        <span class="feed-video-play-icon play-icon"></span>
                        <div class="details">
                            <span class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elitsed</span>
                            <div class="d-flex flex-row justify-content-between">
                                <span class="desc">@Thahir</span>
                                <span class="desc">777</span>
                            </div>
                        </div>
                    </li>

                    <li class="feedList">
                        <img src="https://p16.muscdn.com/obj/tos-maliva-p-0068/bc68c779b54310ec5f9021060d706688" class="img-fluid"/>
                        <span class="feed-video-play-icon play-icon"></span>
                        <div class="details">
                            <span class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elitsed</span>
                            <div class="d-flex flex-row justify-content-between">
                                <span class="desc">@Thahir</span>
                                <span class="desc">777</span>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>