<div class="col-md-6 col-lg-6 innerLeft py-3 h-100" style="overflow-y: scroll!important;">
    <div class="media align-items-center">
        <div class="position-relative" style="font-size: 0">
            <span class="user-empty-profile-icon"></span>
            <img class="profileImage img-fluid" src="" alt="">
        </div>
        <div class="media-body profile-media-body" style="width: calc(100% - 50px);">
            <div class="d-flex align-items-center">
                <h6 class="m-0 user-name"></h6>
                <div class="ml-2 d-flex align-items-center">
                    <svg width="12" height="12">
                        <switch>
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#video-web-cta-icon"></use>
                        </switch>
                    </svg>
                    <span class="timerCta web"></span>
                </div>
            </div>
            <span class="user-handle"></span>
        </div>
    </div>
        <p class="mb-0 desc"></p>
        <a href="" class="desc-link" rel="noopener noreferrer nofollow" target="_blank"></a>
    <ul class="mt-3 list-unstyled channel-list web">
        <li class="downloadApp"><a href="javascript:void(0)"></a></li>
    </ul>
</div>
