<div class="active ppBtnUi ppBtn">
    <span class="video-play-icon"></span>
</div>
<video class="pepoVideo" playsinline loop
       style="width: 100%; height: 100%; object-fit: cover"
       poster=""
>
    <source src="" type="video/mp4">
</video>
