<section id="videoDetailsModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="container-fluid videoDetailsContainer" style="background-color: transparent">
            </div>
        </div>
    </div>
</section>

