<section id="feedModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="container-fluid videoContainer" style="background-color: transparent">
                <div class="row justify-content-center align-items-center">
                    <div class="col-12 col-lg-10 col-xl-8 innerContainer" style="pointer-events: auto;">
                        <div class="row">
                            <%- include _feed_modal_left-%>
                            <div class="col-md-6 col-lg-6 innerRight p-0">
                                <%- include _feed_video_player-%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>