.side-by-side{
  h1{
    font-size: 36px;
    color: #2A293B;
  }
  p{
    color: #2A293B;
  }
  h2{
    font-size: 28px;
    color: #2A293B;
    line-height: 1.5;
  }
  .txt-svg{
    height: 18px;
    width: 18px;
    margin-left: 6px;
    fill: #FFFFFF;
    -webkit-transition: fill .3s ease-in-out;
    -moz-transition: fill .3s ease-in-out;
    transition: fill .3s ease-in-out;
    &.red{
      fill: #FF5566;
    }
  }
  .btn{
    max-width: 200px;
    &:hover{
      .txt-svg{
        fill: #FF5566;
        &.red{
          fill: #ffffff;
        }
      }
    }
  }
}

.uber-banner{
  &:after{
    content: "";
    height: 1px;
    background: linear-gradient(to right, #fff, #ffd5d5, #fff);
    width: 100%;
    position: absolute;
    bottom: -2px;
    left: 0;
    border-radius: 2px;
  }
  a{
    color: #FF5566;
    &:hover{
      text-decoration: none;
    }
  }
}

.edge--top--reverse:before {
  top: 0;
  -webkit-transform: skewY(-3.5deg);
  transform: skewY(-3.5deg);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.edge--top--reverse:before {
  background: inherit;
  content: '';
  display: block;
  height: 20%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}

.edge--top:before {
  top: 0;
  -webkit-transform: skewY(3.5deg);
  transform: skewY(3.5deg);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}

.edge--top:before {
  background: inherit;
  content: '';
  display: block;
  height: 20%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}

.meet-people,
.meet-people-image,
.j-image-animation,
.uber-banner{
  opacity: 0;
}

@mixin translateY( $by ) {
  -webkit-transform: translateY(  $by );  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateY( $by );  /* IE 9 */
  transform: translateY( $by );  /* Firefox 16+, IE 10+, Opera */
}

@mixin translateX( $by ) {
  -webkit-transform: translateX(  $by );  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX( $by );  /* IE 9 */
  transform: translateX( $by );  /* Firefox 16+, IE 10+, Opera */
}

.uber-banner{
  animation: jumbotronAnimation 1s forwards 1s;
}
.meet-people{
  animation: jumbotronAnimation 1s forwards 1s;
}

.meet-people-image{
  animation: jumbotronImageAnimation 1s forwards 1s;
}

.j-image-animation{
  animation: jumbotronAnimation 2s forwards 1s;
}

@keyframes jumbotronAnimation{
  0%{
    @include translateY( 10% ) ;
    opacity: 0.1;
    visibility: hidden;
  }
  25%{
    @include translateY( 10% ) ;
    opacity: 0.5;
    visibility: hidden;
  }
  100%{
    @include translateY( 0 ) ;
    opacity: 1;
  }
}

@keyframes jumbotronImageAnimation{
  0%{
    @include translateX( 10% ) ;
    opacity: 0.1;
    visibility: hidden;
  }
  75%{
    @include translateX( 10% ) ;
    opacity: 0.5;
    visibility: hidden;
  }
  100%{
    @include translateX( 0 ) ;
    opacity: 1;
  }
}