<div class="text-center" style="min-height: 85%">
    <div class="px-4">
        <img src="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/pepo-logo.png"
             alt="Pepo Logo" width="179"
             style="background-color: #fff"
             class="img-fluid mb-4 pt-6" />
        <h2 style="color: #FF5566;" class="mb-4">Approval process</h2>
        <p style="color: #2a293b;font-size: 18px">The Pepo team will review your video before it is shared publicly. We'll get in touch with you ASAP!</p>
    </div>
</div>