<main class="container-fluid main-section">
    <div class="row h-100">
        <div class="col-12 col-md-8 col-lg-7 col-xl-5 h-100 bg-gradient justify-content-around justify-content-md-center">
            <div>
                <img src="https://d3attjoi5jlede.cloudfront.net/images/meetly-splash/meetly-logo-web.png" class="img-fluid" width="206"/>
                <div id="mainCopy">
                    <h3 class="mt-4">Manage Your Instagram Classes</h3>
                    <p class="mb-0">Payments, Scheduling, Booking and Online class rooms.</p>
                    <p class="d-inline-block d-none">Set it all up in minutes!</p>
                </div>
                <div id="successCopy" style="display: none">
                    <h3 class="mt-4">Thanks for signing up for Meetly!</h3>
                    <p class="mb-0">We'll be in touch soon with more details.</p>
                    <p class="d-inline-block">We'll make sure to credit your account with $25 off!</p>
                </div>
            </div>
            <div id="subscribeWrapper">
                <p class="mb-3">Sign Up Today and Get $25 Free<span style="margin-left: 8px;font-size: 10px; background: linear-gradient(101.26deg, #E09B3D 5.96%, #FF5566 100.53%);border-radius: 10px;color: #fff;padding: 2px 8px;">LAUNCHING SOON</span></p>
                <form class="row" id="formSignUp" action="https://pepocampaigns.com/subscribe-jsonp/?ct=<%=pepoCampaigns.clientId%>&ld=<%=pepoCampaigns.listId%>">
                    <div class="form-group col-md-8">
                        <input type="email" class="form-control" id="emailSignUp" placeholder="Enter email address" aria-describedby="emailSignUp">
                        <span id="emailError" class="email-error small"></span>
                    </div>
                    <button type="submit" class="btn btn-primary col-md-3 py-0 mx-3 mx-md-0">SIGN UP</button>
                </form>
            </div>

        </div>
    </div>
</main>
