<style type="text/css">
    .app-footer{
        display: none;
    }
</style>

<div class="text-center pt-6 px-5">
    <img src="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/pepo-logo.png" alt="Pepo Logo" class="img-fluid" width="179"/>
    <div class="my-4">
        <img src="https://d3attjoi5jlede.cloudfront.net/images/web/redemption/pepo-sync.png" alt="Pepo Sync" class="img-fluid" width="66"/>
    </div>
    <p class="mb-0" style="color: #2a293b">Please download the latest version of the app to redeem</p>
    <a href="<%= appUpdateLink %>>" title="Update App" target="_blank" class="btn btn-primary w-100 btn-gradient text-capitalize mb-2 mt-4">Update App</a>
</div>
