<div class="pepo-nav container" style="height: 100%">

    <nav class="pepo-nav">
        <div class="row align-items-center" style="min-height: 58px;padding: 30px 15px;">
            <a class="pepo-brand" href="/" title="Pepo">
                <span class="pepo-logo-nav"></span>
            </a>
        </div>
    </nav>

    <div style="display: flex;  justify-content: center; align-items: center;height:80%">
        <div class="card error-block" style="display: none; border: 1px dashed #eb4d4a; text-align: center; padding: 20px 30px;" >
            <div class="card-body">
                <h6 class="error-msg" style="color: #eb4d4a;">Failed to login please try again later!</h6>
                <div class="mt-5"><a class="navigate-link btn btn-danger" href="javascript:void(0)">Continue to Pepo.com</a></div>
            </div>
        </div>
    </div>

</div>

