<div class="pepo-nav container h-100">

    <nav class="pepo-nav">
        <div class="row align-items-center py-4 px-5" style="min-height: 58px;">
            <a class="pepo-brand" href="/" title="Pepo">
                <span class="pepo-logo-nav"></span>
            </a>
        </div>
    </nav>

    <div class="d-flex align-items-center justify-content-center" style="height:80%">
        <span class="pepo-loading-icon pepo-loader-scale"></span>
        <div class="card error-block py-1 px-4 text-center" style="display: none; border: 1px dashed #eb4d4a;">
            <div class="card-body">
                <h6 class="error-msg" style="color: #eb4d4a;">Failed to login please try again later!</h6>
                <div class="mt-5"><a class="navigate-link btn btn-danger" href="javascript:void(0)">Continue to Pepo.com</a></div>
            </div>
        </div>
    </div>

</div>

