<div class="container-fluid">
    <div class="row">
        <div class="col-12 p-0 mx-auto">
            <div class="container p-0">
                <ul class="mx-auto mb-0 list-unstyled d-flex flex-wrap mt-2" id="communityListParent">
                </ul>
            </div>
        </div>
    </div>
</div>
