<div class="container-fluid communityList">
    <div class="row">
        <div class="col-12 p-1 p-xl-0">
            <div class="container p-0">
                <div class="d-flex justify-content-between align-items-center px-1 mt-4">
                    <h3 class="mb-0">Communities</h3>
                    <input id="community-search" type="text" />
                </div>
                <ul class="mx-auto mb-0 list-unstyled d-flex flex-wrap mt-3" id="communityListParent">
                </ul>
            </div>
        </div>
    </div>
</div>
