.customBtn {
  display: inline-block;
  color: #444;
  white-space: nowrap;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
}
.customBtn:hover {
  cursor: pointer;
}
span.label {
  font-family: serif;
  font-weight: normal;
}
div.icon {
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
  margin:5px;
}
span.buttonText {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  font-weight: 500;
}

.modal-dialog-login{
  margin: 68px 10px 10px auto;
}

.modal-content-login{
  border-radius: 5px !important;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
}
.modal-backdrop{
  opacity: 0 !important;
}