.customBtn {
  color: #444;
  display: flex;
  padding: 8px 14px;
  align-items: center;
  white-space: nowrap;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
}
.customBtn:hover {
  cursor: pointer;
}
#logoutBtn:hover {
  cursor: pointer;
}
span.label {
  font-family: serif;
  font-weight: normal;
}
div.icon {
  vertical-align: middle;
  margin:5px;
}
svg{
  &.icon-content{
    padding-top:5px;
  }
}
.buttonText {
  font-size: 14px;
  margin-left: 10px;
  font-weight: 500;
}

.modal-dialog-login{
  max-width: 275px;
  margin: 68px 10px 10px auto;
}
.modal-dialog-logout{
  margin: 58px 10px 10px auto;
}

.modal-content-login{
  border-radius: 5px !important;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
}

.modal-content-logout{
  border-radius: 0 !important;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
}


.disableClick{
  pointer-events: none;
}

.enableClick{
  pointer-events: auto;
}