$urlPrefix: "https://d3attjoi5jlede.cloudfront.net/images/pepo-web";
$retina-sprite-location: $urlPrefix + "/pepo-web-sprite@2x.png";
$sprite-location: $urlPrefix + "/pepo-web-sprite.png";

@mixin icon-generator($width,$height,$posX,$posY,$offsetHover,$offsetActive,$scale:100) {
  background-image: url($sprite-location);
  background-size: 720px * $scale/100 1520px * $scale/100;
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    background-image: url($retina-sprite-location);
    background-size: 720px * $scale/100 1520px * $scale/100;
  }
  display: inline-block;
  outline: none !important;
  &:focus {
    outline: none;
    background-position: $posX * $scale/100 $posY * $scale/100;
  }
  width: $width * $scale/100;
  height: $height * $scale/100;
  background-position: $posX * $scale/100 $posY * $scale/100;
  &:hover {
    background-position: $offsetHover * $scale/100 $posY * $scale/100;
  }
  &:active {
    background-position: $offsetActive * $scale/100 $posY * $scale/100;
  }
}


$pepoLogoConfig: 'nav' 25, 'content' 50;

@each $logo in $pepoLogoConfig {
  .pepo-logo-#{nth($logo, 1)} {
    @include icon-generator(362px, 100px, -94px, -246px, -94px, -94px, nth($logo, 2));
  }
}

$storeIcon: 'google-play' -14px 50, 'app-store' -128px 50, 'modal-google-play' -14px 40, 'modal-app-store' -128px 40;

@each $store in $storeIcon {
  .#{nth($store, 1)}-icon {
    @include icon-generator(354px, 110px, -94px, nth($store, 2), -94px, -94px, nth($store, 3));
  }
}

$vActionIcons: 'replies' 0px, 'report' -76px, 'copy' -160px;

@each $vActIcon in $vActionIcons {
  .video-web-#{nth($vActIcon, 1)}-icon {
    @include icon-generator(76px, 76px, 0px, nth($vActIcon, 2), 0px, 0px, 50);
  }
}

.video-play-icon{
  @include icon-generator(108px, 108px, -454px, -14px, -454px, -454px, 60);
}

.thumbnail-video-play-icon{
  @include icon-generator(108px, 108px, -454px, -14px, -454px, -454px, 40);
}

.modal-close-icon{
  @include icon-generator(50px, 50px, -16px, -240px, -16px, -16px, 50);
}

.prev-arrow-icon{
  @include icon-generator(54px, 88px, -430px, -496px, -430px, -430px, 50);
}

.next-arrow-icon{
  @include icon-generator(54px, 88px, -370px, -496px, -370px, -370px, 50);
}

.user-empty-profile-icon{
  @include icon-generator(284px, 284px, -14px, -354px, -14px, -14px, 17.63);
}

.nav-bar-user-empty-profile-icon{
  @include icon-generator(284px, 284px, -14px, -354px, -14px, -14px, 10.55);
}

.login-twitter-icon{
  @include icon-generator(45px, 40px, -502px, -130px, -502px, -502px, 45);
}

.login-google-icon{
  @include icon-generator(45px, 40px, -451px, -130px, -451px, -451px, 45);
}

.login-github-icon{
  @include icon-generator(45px, 40px, -551px, -130px, -551px, -551px, 45);
}

.login-apple-id-icon{
  @include icon-generator(45px, 40px, -594px, -130px, -594px, -594px, 45);
}

.login-icon{
  @include icon-generator(46px, 48px, -531px, -186px, -531px, -531px, 50);
}

.logout-icon{
  @include icon-generator(46px, 48px, -467px, -186px, -467px, -467px, 50);
}

.next-arrow-icon-disabled{
  @include icon-generator(54px, 88px, -475px, -310px, -475px, -475px, 50);
}

.video-back-icon{
  @include icon-generator(54px, 88px, -547px, -310px, -547px, -547px, 25);
}

.downward-arrow-icon{
  @include icon-generator(48px, 29px, -598px, -262px, -598px, -598px, 40);
}

.success-circular-icon{
  @include icon-generator(50px, 50px, -594px, -186px, -594px, -594px, 70);
}

.under-construction-icon{
  @include icon-generator(53px, 62px, -618px, -322px, -618px, -618px, 70);
}

.timer-icon{
  @include icon-generator(40px, 41px, -533px, -250px, -533px, -533px, 30);
}

//.pepo-logo-nav{
//  @include icon-generator(362px, 100px, -94px, -246px, -94px, -94px, 25);
//}
//
//.pepo-logo-content{
//  @include icon-generator(362px, 100px, -94px, -246px, -94px, -94px, 50);
//}

//.google-play-icon{
//  @include icon-generator(354px, 110px, -94px, -14px, -94px, -94px, 50);
//}

//.app-store-icon{
//  @include icon-generator(354px, 110px, -94px, -128px, -94px, -94px, 50);
//}

//.modal-google-play-icon{
//  @include icon-generator(354px, 110px, -94px, -14px, -94px, -94px, 40);
//}

//.modal-app-store-icon{
//  @include icon-generator(354px, 110px, -94px, -128px, -94px, -94px, 40);
//}

//.video-web-replies-icon{
//  @include icon-generator(76px, 76px, 0px, 0px, 0px, 0px, 50);
//}
//
//.video-web-report-icon{
//  @include icon-generator(76px, 76px, 0px, -76px, 0px, 0px, 50);
//}
//
//.video-web-copy-icon{
//  @include icon-generator(76px, 76px, 0px, -160px, 0px, 0px, 50);
//}