<div class="container-fluid text-center pt-6" style="min-height: 85%; background-color: #FFFFFF">
    <img src="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/pepo-logo.png" alt="Pepo Logo" class="img-fluid" width="179"/>
    <div class="col-md-10 col-xl-8 mx-auto py-6 mt-6" style="background-color: #2A293B">
        <h3 style="color: #ffffff" class="my-5 my-md-3">Oops!</h3>
        <p style="color: #FFFFFF">You have requested an invalid URL</p>
        <a class="btn btn-primary" href="/" title="Go to Home">Go to Home</a>
    </div>
</div>